@import "globals.css";

/*

Accordions aren't a native HTML element. They're a simple element consisting of three divs.

The markup looks like this: 

<div class="accordion-wrap">
  <div class="accordion-trigger"></div>
  <div class="accordion-content"></div>
</div>

Animation behavior needs to be controlled with javascript (it's on the to-do list),
but the CSS is quite straightforward. 

To open an accordion, write a javascript function that toggles the class ".open" on the .accordion-content div.

*/

.accordion-trigger {
  align-items: center;
  background-color: var(--light__surfacecontainerlow_lkv);
  cursor: pointer;
  display: flex;
  padding: .786em 1.618em .786em 1em;
  position: relative;
}

.accordion-wrap {
  border: 1px solid var(--light__outlinevariant_lkv);
  border-radius: .786164em;
  overflow: hidden;
}

.accordion-content {
  overflow: hidden;
  height: 0px;
  padding: 0 1em;
  transition: height 0.5s ease-in-out;
}

.accordion-content.open {
  height: auto;
}

.accordion-trigger-title {
  flex: 1;
}

.accordion-trigger-icon {
  align-items: center;
  align-self: center;
  display: flex;
  margin-bottom: -2px;
}

.accordion__title {
  font-size: .885em;
  font-weight: 600;
  letter-spacing: -.009em;
  line-height: 1.272;
  margin-bottom: .236em;
}

.accordion__desc {
  color: var(--light__outline_lkv);
  font-size: .786em;
  font-weight: 400;
  letter-spacing: -.007em;
  line-height: 1.272;
}