@import "globals.css";

.badge-container {
  align-items: center;
  border-radius: .618em;
  display: flex;
  justify-content: center;
  overflow: hidden;
  padding: .272em;
}

.badge-container__large {
  align-items: center;
  background-color: var(--light__surfacecontainer_lkv);
  border-radius: .618em;
  color: var(--light__onsurfacevariant_lkv);
  display: flex;
  justify-content: center;
  overflow: hidden;
  padding: .618em;
}

.badge-container.bg-light__primary {
  background-color: var(--light__primary_lkv);
}

.badge-container.bg-light__secondary {
  background-color: var(--light__secondary_lkv);
}

.badge-container.bg-light__tertiary {
  background-color: var(--light__tertiary_lkv);
  color: var(--light__ontertiary_lkv);
}

.badge-container.bg-light__error {
  background-color: var(--light__error_lkv);
}

.badge-container.bg-light__warning {
  background-color: var(--light__warning_lkv);
}

.badge-container.bg-light__success {
  background-color: var(--light__success_lkv);
}

.badge-container.bg-light__info {
  background-color: var(--light__info_lkv);
}

.badge-container.bg-light__primarycontainer {
  background-color: var(--light__primarycontainer_lkv);
}