@import "globals.css";

/* Default Cards */
.card {
  background-color: var(--light__surfacecontainerlowest_lkv);
  transition: height 0.8s ease;
}

.card__outline {
  border: 1px solid var(--light__outlinevariant_lkv);
}

.card__link {
  background-color: var(--light__surfacecontainerlowest_lkv);
  cursor: pointer;
  overflow: hidden;
  position: relative;
  text-decoration: none;
}

.card__outline__link {
  border: .129em solid var(--light__outlinevariant_lkv\<deleted\|variable-5ff284fd-d4c0-3680-af79-5751cdf0708a\>);
  overflow: hidden;
  position: relative;
}

.card.scaleFactor__display1,
.card__outline.scaleFactor__display1,
.card__link.scaleFactor__display1,
.card__outline.scaleFactor__display1 {
  border-radius: 3.3294em;
  padding: 3.3294em 4.235em 4.235em;
}

.card.scaleFactor__display2,
.card__outline.scaleFactor__display2,
.card__link.scaleFactor__display2,
.card__outline__link.scaleFactor__display2 {
  background-color: var(--light__surfacecontainerlowest_lkv);
  border-radius: 2.05818em;
  padding: 2.05818em 2.618em 2.618em;
}

.card.scaleFactor__titlea,
.card__outline.scaleFactor__titlea,
.card__link.scaleFactor__titlea,
.card__outline__link.scaleFactor__titlea {
  border-radius: 1.61792em;
  padding: 1.61792em 2.058em 2.058em;
}

.card.scaleFactor__titleB,
.card__outline.scaleFactor__titleB,
.card__link.scaleFactor__titleB,
.card__outline__link.scaleFactor__titleB {
  border-radius: 1.27201em;
  padding: 1.27201em 1.618em 1.618em;
}

.card.scaleFactor__titleC,
.card__outline.scaleFactor__titleC,
.card__link.scaleFactor__titleC,
.card__outline__link.scaleFactor__titleC {
  border-radius: 1em;
  padding: 1em 1.272em 1.272em;
}

.card.scaleFactor__heading,
.card__outline.scaleFactor__heading,
.card__link.scaleFactor__heading,
.card__outline__link.scaleFactor__heading {
  border-radius: .887579em;
  padding: .887579em 1.129em 1.129em;
}

.card.scaleFactor__subheading,
.card__outline.scaleFactor__subheading,
.card__link.scaleFactor__subheading,
.card__outline__link.scaleFactor__subheading {
  border-radius: .695755em;
  padding: .695755em .885em .885em;
}

.card.scaleFactor__body,
.card__outline.scaleFactor__body,
.card__link.scaleFactor__body,
.card__outline__link.scaleFactor__body {
  border-radius: .786164em;
  padding: .786164em 1em 1em;
}

.card.scaleFactor__callout,
.card__outline.scaleFactor__callout,
.card__link.scaleFactor__callout,
.card__outline__link.scaleFactor__callout {
  border-radius: .741352em;
  padding: .741352em .943em .943em;
}

.card.scaleFactor__label,
.card__outline.scaleFactor__label,
.card__link.scaleFactor__label,
.card__outline__link.scaleFactor__label {
  border-radius: .656447em;
  padding: .656447em .835em .835em;
}

.card.scaleFactor__caption,
.card__outline.scaleFactor__caption,
.card__link.scaleFactor__caption,
.card__outline__link.scaleFactor__caption {
  border-radius: .617925em;
  padding: .618em .786em .786em;
}

.card.scaleFactor__overline,
.card__outline.scaleFactor__overline,
.card__link.scaleFactor__overline,
.card__outline__link.scaleFactor__overline {
  border-radius: .617925em;
  padding: .618em .786em .786em;
}

.testimonial-heading-wrap {
  align-items: center;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-columns: max-content 1fr;
  grid-template-rows: auto;
}

.h-card-image {
  aspect-ratio: 1;
  border-radius: var(--size--m);
  flex: none;
  height: 2.618em;
  margin-right: var(--size--m);
  object-fit: contain;
  width: 2.618em;
}

.h-card-image.shadowsoft {
  box-shadow: 0 0 1px #727272, 0 12px 50px rgba(21, 19, 22, .06);
  margin-top: -2.618em;
}

.h-card {
  display: flex;
  grid-auto-columns: 1fr;
  grid-template-columns: min-content max-content;
  grid-template-rows: auto auto;
}

.h-card.scaleFactor__heading {
  padding: .888em 1.129em 1.129em;
}

.h-card-content {
  flex: 1 0 auto;
}

.h-card-heading {
  font-size: 1em;
  font-weight: 600;
  letter-spacing: -.011em;
  line-height: 1.272;
  padding: 0;
  position: relative;
  width: 100%;
  z-index: 1;
}

.h-card-heading.m-bottom__xl.tech {
  font-weight: 600;
}

.h-card-subheading {
  font-size: .885em;
  font-weight: 400;
  letter-spacing: -.007em;
  line-height: 1.272;
  width: 100%;
}

.h-card-outline {
  border: 1px solid var(--light__outline_lkv);
  display: flex;
  grid-auto-columns: 1fr;
  grid-template-columns: min-content max-content;
  grid-template-rows: auto auto;
}

.h-card-outline.scaleFactor__heading {
  border: 1px solid var(--light__outline_lkv);
  border-radius: .888em;
  padding: .888em 1.129em 1.129em;
}

.h-card-fill {
  background-color: var(--light__surface_lkv);
  display: flex;
  grid-auto-columns: 1fr;
  grid-template-columns: min-content max-content;
  grid-template-rows: auto auto;
}

.h-card-fill.scaleFactor__heading {
  border-radius: .888em;
  padding: .888em 1.129em 1.129em;
}

.h-card-glass {
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  display: flex;
  grid-auto-columns: 1fr;
  grid-template-columns: min-content max-content;
  grid-template-rows: auto auto;
}

.h-card-glass.scaleFactor__heading {
  -webkit-backdrop-filter: brightness(110%) blur(20px) blur(20px);
  backdrop-filter: brightness(110%) blur(20px) blur(20px);
  border-radius: .888em;
  overflow: hidden;
  padding: .888em 1.129em 1.129em;
}

.h-card-glass.scaleFactor__heading.shadow2 {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.h-card-glass.position__absolute {
  -webkit-backdrop-filter: saturate(23%) blur(20px) brightness(180%);
  backdrop-filter: saturate(23%) blur(20px) brightness(180%);
  bottom: auto;
  left: 0%;
  right: auto;
  top: 0%;
}

.h-card-glass-bg {
  background-color: var(--light__surface_lkv);
  bottom: 0%;
  left: 0%;
  opacity: .49;
  pointer-events: none;
  position: absolute;
  right: 0%;
  top: 0%;
  z-index: -1;
}