/* Gaps */
@import "globals.css";


.gap__2xs {
  gap: var(--2xs);
}

.gap__xs {
  gap: var(--xs);
}

.gap__sm {
  gap: var(--sm);
}

.gap__md {
  gap: var(--md);
}

.gap__lg {
  gap: var(--lg);
}

.gap__xl {
  gap: var(--xl);
}

.gap__2xl {
  gap: var(--2xl);
}
