@import "globals.css";


.m-top__xxs { margin-top: var(--xxs); }
.m-top__xs { margin-top: var(--xs); }
.m-top__s { margin-top: var(--s); }
.m-top__m { margin-top: var(--m); }
.m-top__l { margin-top: var(--l); }
.m-top__xl { margin-top: var(--xl); }
.m-top__xxl { margin-top: var(--xxl); }

.m-right__xxs { margin-right: var(--xxs); }
.m-right__xs { margin-right: var(--xs); }
.m-right__s { margin-right: var(--s); }
.m-right__m { margin-right: var(--m); }
.m-right__l { margin-right: var(--l); }
.m-right__xl { margin-right: var(--xl); }
.m-right__xxl { margin-right: var(--xxl); }

.m-bottom__xxs { margin-bottom: var(--xxs); }
.m-bottom__xs { margin-bottom: var(--xs); }
.m-bottom__s { margin-bottom: var(--s); }
.m-bottom__m { margin-bottom: var(--m); }
.m-bottom__l { margin-bottom: var(--l); }
.m-bottom__xl { margin-bottom: var(--xl); }
.m-bottom__xxl { margin-bottom: var(--xxl); }

.m-left__xxs { margin-left: var(--xxs); }
.m-left__xs { margin-left: var(--xs); }
.m-left__s { margin-left: var(--s); }
.m-left__m { margin-left: var(--m); }
.m-left__l { margin-left: var(--l); }
.m-left__xl { margin-left: var(--xl); }
.m-left__xxl { margin-left: var(--xxl); }

.display1.m-top__xxs,
.display2.m-top__xxs,
.titleA.m-top__xxs,
.titleB.m-top__xxs,
.titleC.m-top__xxs,
.heading.m-top__xxs,
.subheading.m-top__xxs,
.body.m-top__xxs,
.callout.m-top__xxs,
.label.m-top__xxs,
.caption.m-top__xxs,
.overline.m-top__xxs,
.display1__bold.m-top__xxs,
.display2__bold.m-top__xxs,
.titleA__bold.m-top__xxs,
.titleB__bold.m-top__xxs,
.titleC__bold.m-top__xxs,
.heading__bold.m-top__xxs,
.subheading__bold.m-top__xxs,
.body__bold.m-top__xxs,
.callout__bold.m-top__xxs,
.label__bold.m-top__xxs,
.caption__bold.m-top__xxs,
.overline__bold.m-top__xxs {
  margin-top: var(--xxs);
}


.display1.m-top__xs,
.display2.m-top__xs,
.titleA.m-top__xs,
.titleB.m-top__xs,
.titleC.m-top__xs,
.heading.m-top__xs,
.subheading.m-top__xs,
.body.m-top__xs,
.callout.m-top__xs,
.label.m-top__xs,
.caption.m-top__xs,
.overline.m-top__xs,
.display1__bold.m-top__xs,
.display2__bold.m-top__xs,
.titleA__bold.m-top__xs,
.titleB__bold.m-top__xs,
.titleC__bold.m-top__xs,
.heading__bold.m-top__xs,
.subheading__bold.m-top__xs,
.body__bold.m-top__xs,
.callout__bold.m-top__xs,
.label__bold.m-top__xs,
.caption__bold.m-top__xs,
.overline__bold.m-top__xs {
  margin-top: var(--xs);
}

.display1.m-top__s,
.display2.m-top__s,
.titleA.m-top__s,
.titleB.m-top__s,
.titleC.m-top__s,
.heading.m-top__s,
.subheading.m-top__s,
.body.m-top__s,
.callout.m-top__s,
.label.m-top__s,
.caption.m-top__s,
.overline.m-top__s,
.display1__bold.m-top__s,
.display2__bold.m-top__s,
.titleA__bold.m-top__s,
.titleB__bold.m-top__s,
.titleC__bold.m-top__s,
.heading__bold.m-top__s,
.subheading__bold.m-top__s,
.body__bold.m-top__s,
.callout__bold.m-top__s,
.label__bold.m-top__s,
.caption__bold.m-top__s,
.overline__bold.m-top__s {
  margin-top: var(--s);
}
/* Repeat for other margin directions and sizes */

.display1.m-top__m,
.display2.m-top__m,
.titleA.m-top__m,
.titleB.m-top__m,
.titleC.m-top__m,
.heading.m-top__m,
.subheading.m-top__m,
.body.m-top__m,
.callout.m-top__m,
.label.m-top__m,
.caption.m-top__m,
.overline.m-top__m,
.display1__bold.m-top__m,
.display2__bold.m-top__m,
.titleA__bold.m-top__m,
.titleB__bold.m-top__m,
.titleC__bold.m-top__m,
.heading__bold.m-top__m,
.subheading__bold.m-top__m,
.body__bold.m-top__m,
.callout__bold.m-top__m,
.label__bold.m-top__m,
.caption__bold.m-top__m,
.overline__bold.m-top__m {
  margin-top: var(--m);
}

.display1.m-top__l,
.display2.m-top__l,
.titleA.m-top__l,
.titleB.m-top__l,
.titleC.m-top__l,
.heading.m-top__l,
.subheading.m-top__l,
.body.m-top__l,
.callout.m-top__l,
.label.m-top__l,
.caption.m-top__l,
.overline.m-top__l,
.display1__bold.m-top__l,
.display2__bold.m-top__l,
.titleA__bold.m-top__l,
.titleB__bold.m-top__l,
.titleC__bold.m-top__l,
.heading__bold.m-top__l,
.subheading__bold.m-top__l,
.body__bold.m-top__l,
.callout__bold.m-top__l,
.label__bold.m-top__l,
.caption__bold.m-top__l,
.overline__bold.m-top__l {
  margin-top: var(--l);
}

.display1.m-top__xl,
.display2.m-top__xl,
.titleA.m-top__xl,
.titleB.m-top__xl,
.titleC.m-top__xl,
.heading.m-top__xl,
.subheading.m-top__xl,
.body.m-top__xl,
.callout.m-top__xl,
.label.m-top__xl,
.caption.m-top__xl,
.overline.m-top__xl,
.display1__bold.m-top__xl,
.display2__bold.m-top__xl,
.titleA__bold.m-top__xl,
.titleB__bold.m-top__xl,
.titleC__bold.m-top__xl,
.heading__bold.m-top__xl,
.subheading__bold.m-top__xl,
.body__bold.m-top__xl,
.callout__bold.m-top__xl,
.label__bold.m-top__xl,
.caption__bold.m-top__xl,
.overline__bold.m-top__xl {
  margin-top: var(--xl);
}

.display1.m-top__xxl,
.display2.m-top__xxl,
.titleA.m-top__xxl,
.titleB.m-top__xxl,
.titleC.m-top__xxl,
.heading.m-top__xxl,
.subheading.m-top__xxl,
.body.m-top__xxl,
.callout.m-top__xxl,
.label.m-top__xxl,
.caption.m-top__xxl,
.overline.m-top__xxl,
.display1__bold.m-top__xxl,
.display2__bold.m-top__xxl,
.titleA__bold.m-top__xxl,
.titleB__bold.m-top__xxl,
.titleC__bold.m-top__xxl,
.heading__bold.m-top__xxl,
.subheading__bold.m-top__xxl,
.body__bold.m-top__xxl,
.callout__bold.m-top__xxl,
.label__bold.m-top__xxl,
.caption__bold.m-top__xxl,
.overline__bold.m-top__xxl {
  margin-top: var(--xxl);
}

.display1.m-right__xxs,
.display2.m-right__xxs,
.titleA.m-right__xxs,
.titleB.m-right__xxs,
.titleC.m-right__xxs,
.heading.m-right__xxs,
.subheading.m-right__xxs,
.body.m-right__xxs,
.callout.m-right__xxs,
.label.m-right__xxs,
.caption.m-right__xxs,
.overline.m-right__xxs,
.display1__bold.m-right__xxs,
.display2__bold.m-right__xxs,
.titleA__bold.m-right__xxs,
.titleB__bold.m-right__xxs,
.titleC__bold.m-right__xxs,
.heading__bold.m-right__xxs,
.subheading__bold.m-right__xxs,
.body__bold.m-right__xxs,
.callout__bold.m-right__xxs,
.label__bold.m-right__xxs,
.caption__bold.m-right__xxs,
.overline__bold.m-right__xxs {
  margin-right: var(--xxs);
}


.display1.m-right__xs,
.display2.m-right__xs,
.titleA.m-right__xs,
.titleB.m-right__xs,
.titleC.m-right__xs,
.heading.m-right__xs,
.subheading.m-right__xs,
.body.m-right__xs,
.callout.m-right__xs,
.label.m-right__xs,
.caption.m-right__xs,
.overline.m-right__xs,
.display1__bold.m-right__xs,
.display2__bold.m-right__xs,
.titleA__bold.m-right__xs,
.titleB__bold.m-right__xs,
.titleC__bold.m-right__xs,
.heading__bold.m-right__xs,
.subheading__bold.m-right__xs,
.body__bold.m-right__xs,
.callout__bold.m-right__xs,
.label__bold.m-right__xs,
.caption__bold.m-right__xs,
.overline__bold.m-right__xs {
  margin-right: var(--xs);
}

.display1.m-right__s,
.display2.m-right__s,
.titleA.m-right__s,
.titleB.m-right__s,
.titleC.m-right__s,
.heading.m-right__s,
.subheading.m-right__s,
.body.m-right__s,
.callout.m-right__s,
.label.m-right__s,
.caption.m-right__s,
.overline.m-right__s,
.display1__bold.m-right__s,
.display2__bold.m-right__s,
.titleA__bold.m-right__s,
.titleB__bold.m-right__s,
.titleC__bold.m-right__s,
.heading__bold.m-right__s,
.subheading__bold.m-right__s,
.body__bold.m-right__s,
.callout__bold.m-right__s,
.label__bold.m-right__s,
.caption__bold.m-right__s,
.overline__bold.m-right__s {
  margin-right: var(--s);
}
/* Repeat for other margin directions and sizes */

.display1.m-right__m,
.display2.m-right__m,
.titleA.m-right__m,
.titleB.m-right__m,
.titleC.m-right__m,
.heading.m-right__m,
.subheading.m-right__m,
.body.m-right__m,
.callout.m-right__m,
.label.m-right__m,
.caption.m-right__m,
.overline.m-right__m,
.display1__bold.m-right__m,
.display2__bold.m-right__m,
.titleA__bold.m-right__m,
.titleB__bold.m-right__m,
.titleC__bold.m-right__m,
.heading__bold.m-right__m,
.subheading__bold.m-right__m,
.body__bold.m-right__m,
.callout__bold.m-right__m,
.label__bold.m-right__m,
.caption__bold.m-right__m,
.overline__bold.m-right__m {
  margin-right: var(--m);
}

.display1.m-right__l,
.display2.m-right__l,
.titleA.m-right__l,
.titleB.m-right__l,
.titleC.m-right__l,
.heading.m-right__l,
.subheading.m-right__l,
.body.m-right__l,
.callout.m-right__l,
.label.m-right__l,
.caption.m-right__l,
.overline.m-right__l,
.display1__bold.m-right__l,
.display2__bold.m-right__l,
.titleA__bold.m-right__l,
.titleB__bold.m-right__l,
.titleC__bold.m-right__l,
.heading__bold.m-right__l,
.subheading__bold.m-right__l,
.body__bold.m-right__l,
.callout__bold.m-right__l,
.label__bold.m-right__l,
.caption__bold.m-right__l,
.overline__bold.m-right__l {
  margin-right: var(--l);
}

.display1.m-right__xl,
.display2.m-right__xl,
.titleA.m-right__xl,
.titleB.m-right__xl,
.titleC.m-right__xl,
.heading.m-right__xl,
.subheading.m-right__xl,
.body.m-right__xl,
.callout.m-right__xl,
.label.m-right__xl,
.caption.m-right__xl,
.overline.m-right__xl,
.display1__bold.m-right__xl,
.display2__bold.m-right__xl,
.titleA__bold.m-right__xl,
.titleB__bold.m-right__xl,
.titleC__bold.m-right__xl,
.heading__bold.m-right__xl,
.subheading__bold.m-right__xl,
.body__bold.m-right__xl,
.callout__bold.m-right__xl,
.label__bold.m-right__xl,
.caption__bold.m-right__xl,
.overline__bold.m-right__xl {
  margin-right: var(--xl);
}

.display1.m-right__xxl,
.display2.m-right__xxl,
.titleA.m-right__xxl,
.titleB.m-right__xxl,
.titleC.m-right__xxl,
.heading.m-right__xxl,
.subheading.m-right__xxl,
.body.m-right__xxl,
.callout.m-right__xxl,
.label.m-right__xxl,
.caption.m-right__xxl,
.overline.m-right__xxl,
.display1__bold.m-right__xxl,
.display2__bold.m-right__xxl,
.titleA__bold.m-right__xxl,
.titleB__bold.m-right__xxl,
.titleC__bold.m-right__xxl,
.heading__bold.m-right__xxl,
.subheading__bold.m-right__xxl,
.body__bold.m-right__xxl,
.callout__bold.m-right__xxl,
.label__bold.m-right__xxl,
.caption__bold.m-right__xxl,
.overline__bold.m-right__xxl {
  margin-right: var(--xxl);
}

.display1.m-bottom__xxs,
.display2.m-bottom__xxs,
.titleA.m-bottom__xxs,
.titleB.m-bottom__xxs,
.titleC.m-bottom__xxs,
.heading.m-bottom__xxs,
.subheading.m-bottom__xxs,
.body.m-bottom__xxs,
.callout.m-bottom__xxs,
.label.m-bottom__xxs,
.caption.m-bottom__xxs,
.overline.m-bottom__xxs,
.display1__bold.m-bottom__xxs,
.display2__bold.m-bottom__xxs,
.titleA__bold.m-bottom__xxs,
.titleB__bold.m-bottom__xxs,
.titleC__bold.m-bottom__xxs,
.heading__bold.m-bottom__xxs,
.subheading__bold.m-bottom__xxs,
.body__bold.m-bottom__xxs,
.callout__bold.m-bottom__xxs,
.label__bold.m-bottom__xxs,
.caption__bold.m-bottom__xxs,
.overline__bold.m-bottom__xxs {
  margin-bottom: var(--xxs);
}


.display1.m-bottom__xs,
.display2.m-bottom__xs,
.titleA.m-bottom__xs,
.titleB.m-bottom__xs,
.titleC.m-bottom__xs,
.heading.m-bottom__xs,
.subheading.m-bottom__xs,
.body.m-bottom__xs,
.callout.m-bottom__xs,
.label.m-bottom__xs,
.caption.m-bottom__xs,
.overline.m-bottom__xs,
.display1__bold.m-bottom__xs,
.display2__bold.m-bottom__xs,
.titleA__bold.m-bottom__xs,
.titleB__bold.m-bottom__xs,
.titleC__bold.m-bottom__xs,
.heading__bold.m-bottom__xs,
.subheading__bold.m-bottom__xs,
.body__bold.m-bottom__xs,
.callout__bold.m-bottom__xs,
.label__bold.m-bottom__xs,
.caption__bold.m-bottom__xs,
.overline__bold.m-bottom__xs {
  margin-bottom: var(--xs);
}

.display1.m-bottom__s,
.display2.m-bottom__s,
.titleA.m-bottom__s,
.titleB.m-bottom__s,
.titleC.m-bottom__s,
.heading.m-bottom__s,
.subheading.m-bottom__s,
.body.m-bottom__s,
.callout.m-bottom__s,
.label.m-bottom__s,
.caption.m-bottom__s,
.overline.m-bottom__s,
.display1__bold.m-bottom__s,
.display2__bold.m-bottom__s,
.titleA__bold.m-bottom__s,
.titleB__bold.m-bottom__s,
.titleC__bold.m-bottom__s,
.heading__bold.m-bottom__s,
.subheading__bold.m-bottom__s,
.body__bold.m-bottom__s,
.callout__bold.m-bottom__s,
.label__bold.m-bottom__s,
.caption__bold.m-bottom__s,
.overline__bold.m-bottom__s {
  margin-bottom: var(--s);
}
/* Repeat for other margin directions and sizes */

.display1.m-bottom__m,
.display2.m-bottom__m,
.titleA.m-bottom__m,
.titleB.m-bottom__m,
.titleC.m-bottom__m,
.heading.m-bottom__m,
.subheading.m-bottom__m,
.body.m-bottom__m,
.callout.m-bottom__m,
.label.m-bottom__m,
.caption.m-bottom__m,
.overline.m-bottom__m,
.display1__bold.m-bottom__m,
.display2__bold.m-bottom__m,
.titleA__bold.m-bottom__m,
.titleB__bold.m-bottom__m,
.titleC__bold.m-bottom__m,
.heading__bold.m-bottom__m,
.subheading__bold.m-bottom__m,
.body__bold.m-bottom__m,
.callout__bold.m-bottom__m,
.label__bold.m-bottom__m,
.caption__bold.m-bottom__m,
.overline__bold.m-bottom__m {
  margin-bottom: var(--m);
}

.display1.m-bottom__l,
.display2.m-bottom__l,
.titleA.m-bottom__l,
.titleB.m-bottom__l,
.titleC.m-bottom__l,
.heading.m-bottom__l,
.subheading.m-bottom__l,
.body.m-bottom__l,
.callout.m-bottom__l,
.label.m-bottom__l,
.caption.m-bottom__l,
.overline.m-bottom__l,
.display1__bold.m-bottom__l,
.display2__bold.m-bottom__l,
.titleA__bold.m-bottom__l,
.titleB__bold.m-bottom__l,
.titleC__bold.m-bottom__l,
.heading__bold.m-bottom__l,
.subheading__bold.m-bottom__l,
.body__bold.m-bottom__l,
.callout__bold.m-bottom__l,
.label__bold.m-bottom__l,
.caption__bold.m-bottom__l,
.overline__bold.m-bottom__l {
  margin-bottom: var(--l);
}

.display1.m-bottom__xl,
.display2.m-bottom__xl,
.titleA.m-bottom__xl,
.titleB.m-bottom__xl,
.titleC.m-bottom__xl,
.heading.m-bottom__xl,
.subheading.m-bottom__xl,
.body.m-bottom__xl,
.callout.m-bottom__xl,
.label.m-bottom__xl,
.caption.m-bottom__xl,
.overline.m-bottom__xl,
.display1__bold.m-bottom__xl,
.display2__bold.m-bottom__xl,
.titleA__bold.m-bottom__xl,
.titleB__bold.m-bottom__xl,
.titleC__bold.m-bottom__xl,
.heading__bold.m-bottom__xl,
.subheading__bold.m-bottom__xl,
.body__bold.m-bottom__xl,
.callout__bold.m-bottom__xl,
.label__bold.m-bottom__xl,
.caption__bold.m-bottom__xl,
.overline__bold.m-bottom__xl {
  margin-bottom: var(--xl);
}

.display1.m-bottom__xxl,
.display2.m-bottom__xxl,
.titleA.m-bottom__xxl,
.titleB.m-bottom__xxl,
.titleC.m-bottom__xxl,
.heading.m-bottom__xxl,
.subheading.m-bottom__xxl,
.body.m-bottom__xxl,
.callout.m-bottom__xxl,
.label.m-bottom__xxl,
.caption.m-bottom__xxl,
.overline.m-bottom__xxl,
.display1__bold.m-bottom__xxl,
.display2__bold.m-bottom__xxl,
.titleA__bold.m-bottom__xxl,
.titleB__bold.m-bottom__xxl,
.titleC__bold.m-bottom__xxl,
.heading__bold.m-bottom__xxl,
.subheading__bold.m-bottom__xxl,
.body__bold.m-bottom__xxl,
.callout__bold.m-bottom__xxl,
.label__bold.m-bottom__xxl,
.caption__bold.m-bottom__xxl,
.overline__bold.m-bottom__xxl {
  margin-bottom: var(--xxl);
}

.display1.m-left__xxs,
.display2.m-left__xxs,
.titleA.m-left__xxs,
.titleB.m-left__xxs,
.titleC.m-left__xxs,
.heading.m-left__xxs,
.subheading.m-left__xxs,
.body.m-left__xxs,
.callout.m-left__xxs,
.label.m-left__xxs,
.caption.m-left__xxs,
.overline.m-left__xxs,
.display1__bold.m-left__xxs,
.display2__bold.m-left__xxs,
.titleA__bold.m-left__xxs,
.titleB__bold.m-left__xxs,
.titleC__bold.m-left__xxs,
.heading__bold.m-left__xxs,
.subheading__bold.m-left__xxs,
.body__bold.m-left__xxs,
.callout__bold.m-left__xxs,
.label__bold.m-left__xxs,
.caption__bold.m-left__xxs,
.overline__bold.m-left__xxs {
  margin-left: var(--xxs);
}


.display1.m-left__xs,
.display2.m-left__xs,
.titleA.m-left__xs,
.titleB.m-left__xs,
.titleC.m-left__xs,
.heading.m-left__xs,
.subheading.m-left__xs,
.body.m-left__xs,
.callout.m-left__xs,
.label.m-left__xs,
.caption.m-left__xs,
.overline.m-left__xs,
.display1__bold.m-left__xs,
.display2__bold.m-left__xs,
.titleA__bold.m-left__xs,
.titleB__bold.m-left__xs,
.titleC__bold.m-left__xs,
.heading__bold.m-left__xs,
.subheading__bold.m-left__xs,
.body__bold.m-left__xs,
.callout__bold.m-left__xs,
.label__bold.m-left__xs,
.caption__bold.m-left__xs,
.overline__bold.m-left__xs {
  margin-left: var(--xs);
}

.display1.m-left__s,
.display2.m-left__s,
.titleA.m-left__s,
.titleB.m-left__s,
.titleC.m-left__s,
.heading.m-left__s,
.subheading.m-left__s,
.body.m-left__s,
.callout.m-left__s,
.label.m-left__s,
.caption.m-left__s,
.overline.m-left__s,
.display1__bold.m-left__s,
.display2__bold.m-left__s,
.titleA__bold.m-left__s,
.titleB__bold.m-left__s,
.titleC__bold.m-left__s,
.heading__bold.m-left__s,
.subheading__bold.m-left__s,
.body__bold.m-left__s,
.callout__bold.m-left__s,
.label__bold.m-left__s,
.caption__bold.m-left__s,
.overline__bold.m-left__s {
  margin-left: var(--s);
}
/* Repeat for other margin directions and sizes */

.display1.m-left__m,
.display2.m-left__m,
.titleA.m-left__m,
.titleB.m-left__m,
.titleC.m-left__m,
.heading.m-left__m,
.subheading.m-left__m,
.body.m-left__m,
.callout.m-left__m,
.label.m-left__m,
.caption.m-left__m,
.overline.m-left__m,
.display1__bold.m-left__m,
.display2__bold.m-left__m,
.titleA__bold.m-left__m,
.titleB__bold.m-left__m,
.titleC__bold.m-left__m,
.heading__bold.m-left__m,
.subheading__bold.m-left__m,
.body__bold.m-left__m,
.callout__bold.m-left__m,
.label__bold.m-left__m,
.caption__bold.m-left__m,
.overline__bold.m-left__m {
  margin-left: var(--m);
}

.display1.m-left__l,
.display2.m-left__l,
.titleA.m-left__l,
.titleB.m-left__l,
.titleC.m-left__l,
.heading.m-left__l,
.subheading.m-left__l,
.body.m-left__l,
.callout.m-left__l,
.label.m-left__l,
.caption.m-left__l,
.overline.m-left__l,
.display1__bold.m-left__l,
.display2__bold.m-left__l,
.titleA__bold.m-left__l,
.titleB__bold.m-left__l,
.titleC__bold.m-left__l,
.heading__bold.m-left__l,
.subheading__bold.m-left__l,
.body__bold.m-left__l,
.callout__bold.m-left__l,
.label__bold.m-left__l,
.caption__bold.m-left__l,
.overline__bold.m-left__l {
  margin-left: var(--l);
}

.display1.m-left__xl,
.display2.m-left__xl,
.titleA.m-left__xl,
.titleB.m-left__xl,
.titleC.m-left__xl,
.heading.m-left__xl,
.subheading.m-left__xl,
.body.m-left__xl,
.callout.m-left__xl,
.label.m-left__xl,
.caption.m-left__xl,
.overline.m-left__xl,
.display1__bold.m-left__xl,
.display2__bold.m-left__xl,
.titleA__bold.m-left__xl,
.titleB__bold.m-left__xl,
.titleC__bold.m-left__xl,
.heading__bold.m-left__xl,
.subheading__bold.m-left__xl,
.body__bold.m-left__xl,
.callout__bold.m-left__xl,
.label__bold.m-left__xl,
.caption__bold.m-left__xl,
.overline__bold.m-left__xl {
  margin-left: var(--xl);
}

.display1.m-left__xxl,
.display2.m-left__xxl,
.titleA.m-left__xxl,
.titleB.m-left__xxl,
.titleC.m-left__xxl,
.heading.m-left__xxl,
.subheading.m-left__xxl,
.body.m-left__xxl,
.callout.m-left__xxl,
.label.m-left__xxl,
.caption.m-left__xxl,
.overline.m-left__xxl,
.display1__bold.m-left__xxl,
.display2__bold.m-left__xxl,
.titleA__bold.m-left__xxl,
.titleB__bold.m-left__xxl,
.titleC__bold.m-left__xxl,
.heading__bold.m-left__xxl,
.subheading__bold.m-left__xxl,
.body__bold.m-left__xxl,
.callout__bold.m-left__xxl,
.label__bold.m-left__xxl,
.caption__bold.m-left__xxl,
.overline__bold.m-left__xxl {
  margin-left: var(--xxl);
}

