/* These are done in increments of 10, but you can create your own 
/* such as ".opacity__92 {opacity: 0.92}, etc. 
*/

.opacity__0 {
  opacity: 0.0;
}

.opacity__5 {
  opacity: 0.05;
}

.opacity__10 {
  opacity: 0.1;
}

.opacity__15 {
  opacity: 0.15;
}

.opacity__20 {
  opacity: 0.2;
}

.opacity__25 {
  opacity: 0.25;
}

.opacity__30 {
  opacity: 0.3;
}

.opacity__35 {
  opacity: 0.35;
}

.opacity__40 {
  opacity: 0.4;
}

.opacity__45 {
  opacity: 0.45;
}

.opacity__50 {
  opacity: 0.5;
}

.opacity__55 {
  opacity: 0.55;
}

.opacity__60 {
  opacity: 0.6;
}

.opacity__65 {
  opacity: 0.65;
}

.opacity__70 {
  opacity: 0.7;
}

.opacity__75 {
  opacity: 0.75;
}

.opacity__80 {
  opacity: 0.8;
}

.opacity__85 {
  opacity: 0.85;
}

.opacity__90 {
  opacity: 0.9;
}

.opacity__95 {
  opacity: 0.95;
}

.opacity__100 {
  opacity: 1.0;
}
