.position__static {
  position: static;
}

.position__relative {
  position: relative;
}

.position__absolute {
  position: absolute;
}

.position__fixed {
  position: fixed;
}

.position__sticky {
  position: sticky;
  top: 0;
}