.section__leastPadding {
  padding: 1.618em 4.235em;
}

.section__lessPadding {
  padding: 2.618em 4.235em;
}

.section__default {
  padding: 4.235em;
}

.section__morePadding {
  padding: 6.852em 4.235em;
}

.section__mostPadding {
  padding: 11.087em 4.235em;
}

@media screen and (max-width: 991px) {
  .section__lessPadding {
    padding: 2.618em 1.618em;
  }

  .section__default {
    padding: 1.618em;
  }

  .section__morePadding {
    padding: 4.235em 1.618em;
  }

  .section__mostPadding {
    padding: 6.852em 1.618em;
  }

}
