.table_component {
  background-color: var(--light__surfacecontainerlowest_lkv);
  box-shadow: 0 0 1px 0 var(--light__shadow_lkv);
  border-radius: .786em;
  width: 100%;
  font-size: 1em;
  line-height: 1.272;
  overflow: hidden;

}

.table_head {
  border-bottom: 1px solid var(--light__outline_lkv);
  background-color: var(--light__surfacecontainerlow_lkv);
}

.table_row.header {
  overflow: hidden;
}

.table_header-cell {
  text-align: left;
  padding-top: .786em;
  padding-bottom: .786em;
  padding-left: 1em;
  font-size: .885em;
  font-weight: 600;
  overflow: hidden;
}

.table_cell {
  color: var(--light__onsurfacevariant_lkv);
  padding: .618em 1em;
  font-size: .943em;
  line-height: 1.618;
}

.table_row {
  border-bottom: 1px solid var(--light__outlinevariant_lkv);
}

.table_row.last-child {
  border-bottom-style: none;
}

.table_component.overflowOnMobile {
  overflow: hidden;
  /* Hides overflow on desktop */
}

@media screen and (max-width: 767px) {

  /* Limits max width to 100% on tablets and foldables */

  .table_component {
    max-width: 100%;
  }


}

@media screen and (max-width: 479px) {

  .table_component.overflow-x {
    width: auto;
    overflow: auto;
    /* Enables table to scroll horizontally or overflow on nonfoldable mobile devices */
  }

}