.accordion-trigger {
  align-items: center;
  background-color: var(--light__surfacecontainerlow_clv);
  cursor: pointer;
  display: flex;
  padding: .786em 1.618em .786em 1em;
  position: relative;
}

.accordion-wrap {
  border: 1px solid var(--light__outlinevariant_clv);
  border-radius: .786164em;
  overflow: hidden;
}

.accordion-content {
  overflow: hidden;
  padding: 0 1em;
}

.accordion-trigger-title {
  flex: 1;
}

.accordion-trigger-icon {
  align-items: center;
  align-self: center;
  display: flex;
  margin-bottom: -2px;
}

.accordion__title {
  font-size: .885em;
  font-weight: 600;
  letter-spacing: -.009em;
  line-height: 1.272;
  margin-bottom: .236em;
}

.accordion__desc {
  color: var(--light__outline_clv);
  font-size: .786em;
  font-weight: 400;
  letter-spacing: -.007em;
  line-height: 1.272;
}