.aspect__16x9 {
  aspect-ratio: 16 / 9;
  position: relative;
}

.aspect__16x9.border-radius__l.m-bottom__xl.object-fit__cover {
  object-fit: cover;
  width: 100%;
}

.aspect__16x9.border-radius__l.m-bottom__xl.object-fit__cover.fixed {
  margin-bottom: 0;
}

.aspect__4x3 {
  aspect-ratio: 4 / 3;
  object-fit: cover;
  width: 100%;
}

.aspect__3x2 {
  aspect-ratio: 3 / 2;
}

.aspect__9x16 {
  aspect-ratio: 9 / 16;
}

.aspect__1x1 {
  aspect-ratio: 1;
  position: relative;
}

.aspect-wrap {
  position: relative;
}