.bg-light__primary,
.bg-light__primary.cl-swatch {
  background-color: var(--light__primary_clv);
  color: var(--light__onprimary_clv);
}

.bg-light__onprimary,
.bg-light__onprimary.cl-swatch {
  background-color: var(--light__onprimary_clv);
  color: var(--light__primary_clv);
}

.bg-light__primarycontainer,
.bg-light__primarycontainer.cl-swatch {
  background-color: var(--light__primarycontainer_clv);
  color: var(--light__onprimarycontainer_clv);
}

.bg-light__onprimarycontainer {
  background-color: var(--light__onprimarycontainer_clv);
  color: var(--light__primarycontainer_clv);
}

.bg-light__secondary,
.bg-light__secondary.cl-swatch {
  background-color: var(--light__secondary_clv);
  color: var(--light__onsecondary_clv);
}

.bg-light__onsecondary {
  background-color: var(--light__onsecondary_clv);
  color: var(--light__secondary_clv);
}

.bg-light__secondarycontainer {
  background-color: var(--light__secondarycontainer_clv);
  color: var(--light__onsecondarycontainer_clv);
}

.bg-light__onsecondarycontainer {
  background-color: var(--light__onsecondarycontainer_clv);
  color: var(--light__secondarycontainer_clv);
}

.bg-light__tertiary {
  background-color: var(--light__tertiary_clv);
  color: var(--light__ontertiary_clv);
}

.bg-light__ontertiary {
  background-color: var(--light__ontertiary_clv);
  color: var(--light__tertiary_clv);
}

.bg-light__tertiarycontainer {
  background-color: var(--light__tertiarycontainer_clv);
  color: var(--light__ontertiarycontainer_clv);
}

.bg-light__ontertiarycontainer {
  background-color: var(--light__ontertiarycontainer_clv);
  color: var(--light__tertiarycontainer_clv);
}

.bg-light__error {
  background-color: var(--light__error_clv);
  color: var(--light__onerror_clv);
}

.bg-light__onerror {
  background-color: var(--light__onerror_clv);
  color: var(--light__error_clv);
}

.bg-light__errorcontainer {
  background-color: var(--light__errorcontainer_clv);
  color: var(--light__onerrorcontainer_clv);
}

.bg-light__onerrorcontainer {
  background-color: var(--light__onerrorcontainer_clv);
  color: var(--light__errorcontainer_clv);
}

.bg-light__background {
  background-color: var(--light__background_clv);
  color: var(--light__onbackground_clv);
}

.bg-light__onbackground {
  background-color: var(--light__onbackground_clv\<deleted\|variable-ae8fd56d-3f66-0829-12bf-40fd7d0d0b80\>);
  color: var(--light__background_clv);
}

.bg-light__surface {
  background-color: var(--light__surface_clv);
  color: var(--light__onsurface_clv);
}

.bg-light__onsurface {
  background-color: var(--light__onsurface_clv);
  color: var(--light__surface_clv);
}

.bg-light__surfacevariant {
  background-color: var(--light__surfacevariant_clv);
  color: var(--light__onsurfacevariant_clv);
}

.bg-light__onsurfacevariant {
  background-color: var(--light__onsurfacevariant_clv);
  color: var(--light__surfacevariant_clv);
}

.bg-light__outline {
  background-color: var(--light__outline_clv);
  color: var(--light__surface_clv);
}

.bg-light__outlinevariant {
  background-color: var(--light__outlinevariant_clv);
  color: var(--light__onsurface_clv);
}

.bg-light__shadow {
  background-color: var(--light__shadow_clv);
  color: var(--light__surface_clv);
}

.bg-light__scrim {
  background-color: var(--light__scrim_clv);
  color: var(--light__surface_clv);
}

.bg-light__inversesurface {
  background-color: var(--light__inversesurface_clv);
  color: var(--light__inverseonsurface_clv);
}

.bg-light__inverseonsurface {
  background-color: var(--light__inverseonsurface_clv);
  color: var(--light__inversesurface_clv);
}

.bg-light__inverseprimary {
  background-color: var(--light__inverseprimary_clv);
  color: var(--light__onprimarycontainer_clv);
}

.bg-light__success {
  background-color: var(--light__success_clv);
  color: var(--light__onsuccess_clv);
}

.bg-light__successcontainer {
  background-color: var(--light__successcontainer_clv);
  color: var(--light__onsuccesscontainer_clv);
}

.bg-light__onsuccess {
  background-color: var(--light__onsuccess_clv);
  color: var(--light__success_clv);
}

.bg-light__onsuccesscontainer {
  background-color: var(--light__onsuccesscontainer_clv);
  color: var(--light__successcontainer_clv);
}

.bg-light__warning {
  background-color: var(--light__warning_clv);
  color: var(--light__onwarning_clv);
}

.bg-light__warningcontainer {
  background-color: var(--light__warningcontainer_clv);
  color: var(--light__onwarningcontainer_clv);
}

.bg-light__onwarning {
  background-color: var(--light__onwarning_clv);
  color: var(--light__warning_clv);
}

.bg-light__onwarningcontainer {
  background-color: var(--light__onwarningcontainer_clv);
  color: var(--light__warningcontainer_clv);
}

.bg-light__info {
  background-color: var(--light__info_clv);
  color: var(--light__oninfo_clv);
}

.bg-light__infocontainer {
  background-color: var(--light__infocontainer_clv);
  color: var(--light__oninfocontainer_clv);
}

.bg-light__oninfo {
  background-color: var(--light__oninfo_clv);
  color: var(--light__info_clv);
}

.bg-light__oninfocontainer {
  background-color: var(--light__oninfocontainer_clv);
  color: var(--light__infocontainer_clv);
}

.bg-light__primaryfixed {
  background-color: var(--light__primaryfixed_clv);
  color: var(--light__onprimaryfixed_clv);
}

.bg-light__primaryfixeddim {
  background-color: var(--light__primaryfixeddim_clv);
  color: var(--light__onprimaryfixedvariant_clv);
}

.bg-light__onprimaryfixed {
  background-color: var(--light__onprimaryfixed_clv);
  color: var(--light__primaryfixed_clv);
}

.bg-light__onprimaryfixedvariant {
  background-color: var(--light__onprimaryfixedvariant_clv);
  color: var(--light__primaryfixed_clv);
}

.bg-light__secondaryfixed {
  background-color: var(--light__secondaryfixed_clv);
  color: var(--light__onsecondaryfixed_clv);
}

.bg-light__secondaryfixeddim {
  background-color: var(--light__secondaryfixeddim_clv);
  color: var(--light__onsecondaryfixedvariant_clv);
}

.bg-light__onsecondaryfixed {
  background-color: var(--light__onsecondaryfixed_clv);
  color: var(--light__secondaryfixed_clv);
}

.bg-light__onsecondaryfixedvariant {
  background-color: var(--light__onsecondaryfixedvariant_clv);
  color: var(--light__secondaryfixed_clv);
}

.bg-light__tertiaryfixed {
  background-color: var(--light__tertiaryfixed_clv);
  color: var(--light__ontertiaryfixed_clv);
}

.bg-light__tertiaryfixeddim {
  background-color: var(--light__tertiaryfixeddim_clv);
  color: var(--light__ontertiaryfixedvariant_clv);
}

.bg-light__ontertiaryfixed {
  background-color: var(--light__ontertiaryfixed_clv);
  color: var(--light__tertiaryfixed_clv);
}

.bg-light__ontertiaryfixedvariant {
  background-color: var(--light__ontertiaryfixedvariant_clv);
  color: var(--light__tertiaryfixed_clv);
}

.bg-light__surfacedim {
  background-color: var(--light__surfacedim_clv);
  color: var(--light__onsurface_clv);
}

.bg-light__surfacebright {
  background-color: var(--light__surfacebright_clv);
  color: var(--light__onsurface_clv);
}

.bg-light__surfacecontainerlowest {
  background-color: var(--light__surfacecontainerlowest_clv);
  color: var(--light__onsurface_clv);
}

.bg-light__surfacecontainerlow {
  background-color: var(--light__surfacecontainerlow_clv);
  color: var(--light__onsurface_clv);
}

.bg-light__surfacecontainer {
  background-color: var(--light__surfacecontainer_clv);
  color: var(--light__onsurface_clv);
}

.bg-light__surfacecontainerhigh {
  background-color: var(--light__surfacecontainerhigh_clv);
  color: var(--light__onsurface_clv);
}

.bg-light__surfacecontainerhighest {
  background-color: var(--light__surfacecontainerhighest_clv);
  color: var(--light__onsurface_clv);
}

.bg-dark__primary {
  background-color: var(--dark__primary_clv);
  color: var(--dark__onprimary_clv);
}

.bg-dark__onprimary {
  background-color: var(--dark__onprimary_clv);
  color: var(--dark__primary_clv);
}

.bg-dark__primarycontainer {
  background-color: var(--dark__primarycontainer_clv);
  color: var(--dark__onprimarycontainer_clv);
}

.bg-dark__onprimarycontainer {
  background-color: var(--dark__onprimarycontainer_clv);
  color: var(--dark__primarycontainer_clv);
}

.bg-dark__secondary {
  background-color: var(--dark__secondary_clv);
  color: var(--dark__onsecondary_clv);
}

.bg-dark__onsecondary {
  background-color: var(--dark__onsecondary_clv);
  color: var(--dark__secondary_clv);
}

.bg-dark__secondarycontainer {
  background-color: var(--dark__secondarycontainer_clv);
  color: var(--dark__onsecondarycontainer_clv);
}

.bg-dark__onsecondarycontainer {
  background-color: var(--dark__onsecondarycontainer_clv);
  color: var(--dark__secondarycontainer_clv);
}

.bg-dark__tertiary {
  background-color: var(--dark__tertiary_clv);
  color: var(--dark__ontertiary_clv);
}

.bg-dark__ontertiary {
  background-color: var(--dark__ontertiary_clv);
  color: var(--dark__tertiary_clv);
}

.bg-dark__tertiarycontainer {
  background-color: var(--dark__tertiarycontainer_clv);
  color: var(--dark__ontertiarycontainer_clv);
}

.bg-dark__ontertiarycontainer {
  background-color: var(--dark__ontertiarycontainer_clv);
  color: var(--dark__tertiarycontainer_clv);
}

.bg-dark__error {
  background-color: var(--dark__error_clv);
  color: var(--dark__onerror_clv);
}

.bg-dark__onerror {
  background-color: var(--dark__onerror_clv);
  color: var(--dark__error_clv);
}

.bg-dark__errorcontainer {
  background-color: var(--dark__errorcontainer_clv);
  color: var(--dark__onerrorcontainer_clv);
}

.bg-dark__onerrorcontainer {
  background-color: var(--dark__onerrorcontainer_clv);
  color: var(--dark__errorcontainer_clv);
}

.bg-dark__background {
  background-color: var(--dark__background_clv);
  color: var(--dark__onbackground_clv);
}

.bg-dark__onbackground {
  background-color: var(--dark__onbackground_clv);
  color: var(--dark__background_clv);
}

.bg-dark__surface {
  background-color: var(--dark__surface_clv);
  color: var(--dark__onsurface_clv);
}

.bg-dark__onsurface {
  background-color: var(--dark__onsurface_clv);
  color: var(--dark__surface_clv);
}

.bg-dark__surfacevariant {
  background-color: var(--dark__surfacevariant_clv\<deleted\|variable-e7345964-cae6-2463-c198-9a5cf3192433\>);
  color: var(--dark__onsurfacevariant_clv);
}

.bg-dark__onsurfacevariant {
  background-color: var(--dark__onsurfacevariant_clv\<deleted\|variable-6892640f-9401-3043-5f0e-a9373d14dec6\>);
  color: var(--dark__surfacevariant_clv);
}

.bg-dark__outline {
  background-color: var(--dark__outline_clv\<deleted\|variable-1674e547-c1ca-dd1e-f59f-41b1817fd461\>);
  color: var(--dark__onsurface_clv);
}

.bg-dark__outlinevariant {
  background-color: var(--dark__outlinevariant_clv\<deleted\|variable-114f515e-8116-41f6-263b-4dbf581d95b7\>);
  color: var(--dark__onsurface_clv);
}

.bg-dark__shadow {
  background-color: var(--dark__shadow_clv);
  color: var(--dark__inversesurface_clv);
}

.bg-dark__scrim {
  background-color: var(--dark__scrim_clv);
  color: var(--dark__inversesurface_clv);
}

.bg-dark__inversesurface {
  background-color: var(--dark__inversesurface_clv);
  color: var(--dark__inverseonsurface_clv);
}

.bg-dark__inverseonsurface {
  background-color: var(--dark__inverseonsurface_clv);
  color: var(--dark__inversesurface_clv);
}

.bg-dark__inverseprimary {
  background-color: var(--dark__inverseprimary_clv);
  color: var(--dark__onprimarycontainer_clv);
}

.bg-dark__success {
  background-color: var(--dark__success_clv);
  color: var(--dark__onsuccess_clv);
}

.bg-dark__successcontainer {
  background-color: var(--dark__successcontainer_clv);
  color: var(--dark__onsuccesscontainer_clv);
}

.bg-dark__onsuccess {
  background-color: var(--dark__onsuccess_clv);
  color: var(--dark__success_clv);
}

.bg-dark__onsuccesscontainer {
  background-color: var(--dark__onsuccesscontainer_clv);
  color: var(--dark__successcontainer_clv);
}

.bg-dark__warning {
  background-color: var(--dark__warning_clv);
  color: var(--dark__onwarning_clv);
}

.bg-dark__warningcontainer {
  background-color: var(--dark__warningcontainer_clv);
  color: var(--dark__onwarningcontainer_clv);
}

.bg-dark__onwarning {
  background-color: var(--dark__onwarning_clv);
  color: var(--dark__warning_clv);
}

.bg-dark__onwarningcontainer {
  background-color: var(--dark__onwarningcontainer_clv);
  color: var(--dark__warningcontainer_clv);
}

.bg-dark__info {
  background-color: var(--dark__info_clv);
  color: var(--dark__oninfo_clv);
}

.bg-dark__infocontainer {
  background-color: var(--dark__infocontainer_clv);
  color: var(--dark__oninfocontainer_clv);
}

.bg-dark__oninfo {
  background-color: var(--dark__oninfo_clv);
  color: var(--dark__info_clv);
}

.bg-dark__oninfocontainer {
  background-color: var(--dark__oninfocontainer_clv);
  color: var(--dark__infocontainer_clv);
}

.util-grid-filler {
  align-items: center;
  background-color: var(--light__surface_clv);
  border-radius: .272em;
  box-shadow: 0 0 1px 0 var(--light__shadow_clv);
  display: flex;
  justify-content: center;
  min-height: 1.618em;
  min-width: 1.618em;
  padding: 0;
}

.util-grid-filler.for-display {
  flex: 1;
  margin-bottom: 1em;
  padding: 1em;
}

.bg-dark__primaryfixed {
  background-color: var(--dark__primaryfixed_clv);
  color: var(--dark__onprimaryfixed_clv);
}

.bg-dark__primaryfixeddim {
  background-color: var(--dark__primaryfixeddim_clv);
  color: var(--dark__onprimaryfixedvariant_clv);
}

.bg-dark__onprimaryfixed {
  background-color: var(--dark__onprimaryfixed_clv);
  color: var(--dark__primaryfixed_clv);
}

.bg-dark__onprimaryfixedvariant {
  background-color: var(--dark__onprimaryfixedvariant_clv);
  color: var(--dark__primaryfixed_clv);
}

.bg-dark__secondaryfixed {
  background-color: var(--dark__secondaryfixed_clv);
  color: var(--dark__onsecondary_clv);
}

.bg-dark__secondaryfixeddim {
  background-color: var(--dark__secondaryfixeddim_clv);
  color: var(--dark__onsecondaryfixed_clv);
}

.bg-dark__onsecondaryfixed {
  background-color: var(--dark__onsecondaryfixed_clv);
  color: var(--dark__secondaryfixed_clv);
}

.bg-dark__onsecondaryfixedvariant {
  background-color: var(--dark__onsecondaryfixedvariant_clv);
  color: var(--dark__secondaryfixed_clv);
}

.bg-dark__tertiaryfixed {
  background-color: var(--dark__tertiaryfixed_clv);
  color: var(--dark__ontertiaryfixed_clv);
}

.bg-dark__tertiaryfixeddim {
  background-color: var(--dark__tertiaryfixeddim_clv);
  color: var(--dark__ontertiaryfixedvariant_clv);
}

.bg-dark__ontertiaryfixed {
  background-color: var(--dark__ontertiaryfixed_clv);
  color: var(--dark__tertiaryfixed_clv);
}

.bg-dark__ontertiaryfixedvariant {
  background-color: var(--dark__ontertiaryfixedvariant_clv);
  color: var(--dark__tertiaryfixed_clv);
}

.bg-dark__surfacedim {
  background-color: var(--dark__surfacedim_clv);
  color: var(--dark__onsurface_clv);
}

.bg-dark__surfacebright {
  background-color: var(--dark__surfacebright_clv);
  color: var(--dark__onsurface_clv);
}

.bg-dark__surfacecontainerlowest,
.bg-dark__surfacecontainerlow {
  background-color: var(--dark__surfacecontainerlowest_clv);
  color: var(--dark__onsurface_clv);
}

.bg-dark__surfacecontainer {
  background-color: var(--dark__surfacecontainer_clv);
  color: var(--dark__onsurface_clv);
}

.bg-dark__surfacecontainerhigh {
  background-color: var(--dark__surfacecontainerhigh_clv);
  color: var(--dark__onsurface_clv);
}

.bg-dark__surfacecontainerhighest {
  background-color: var(--dark__surfacecontainerhighest_clv);
  color: var(--dark__onsurface_clv);
}

.bg__transparent {
  background-color: rgba(0, 0, 0, 0);
  height: 16px;
  padding-right: 0;
  width: 16px;
}