.badge-container {
  align-items: center;
  border-radius: .618em;
  display: flex;
  justify-content: center;
  overflow: hidden;
  padding: .272em;
}

.badge-container.bg-light__primary {
  background-color: var(--light__primary_clv\<deleted\|variable-4afd2b74-96b5-67dc-257c-d446285bf0d3\>);
}

.badge-container.bg-light__secondary {
  background-color: var(--light__secondary_clv\<deleted\|variable-e454688f-983d-23d1-0823-7c076f449a98\>);
}

.badge-container.bg-light__tertiary {
  background-color: var(--light__tertiary_clv\<deleted\|variable-e561863d-3928-1a3b-1c3a-355fe9b76822\>);
  color: var(--light__ontertiary_clv\<deleted\|variable-049a7af9-0f06-5c7b-c26e-2ffa8400e607\>);
}

.badge-container.bg-light__error {
  background-color: var(--light__error_clv\<deleted\|variable-f5c3d42c-47f6-fbf9-eea3-43d05bd4666a\>);
}

.badge-container.bg-light__warning {
  background-color: var(--light__warning_clv\<deleted\|variable-5f5d0dc3-4c01-9261-9c3d-ce9c24abcb31\>);
}

.badge-container.bg-light__success {
  background-color: var(--light__success_clv\<deleted\|variable-2fdc9e0e-5985-e0bf-61dd-44c57a0b9370\>);
}

.badge-container.bg-light__info {
  background-color: var(--light__info_clv\<deleted\|variable-ff1faba9-9f93-d2b2-5d9f-d881d138e129\>);
}

.badge-container.bg-light__primarycontainer {
  background-color: var(--light__primarycontainer_clv\<deleted\|variable-461239a5-7c75-4081-2d47-275bc00b8d65\>);
}

.badge-container__large {
  align-items: center;
  background-color: var(--light__surfacecontainer_clv\<deleted\|variable-96c3dce1-4975-c38b-1d58-c99523e4277e\>);
  border-radius: .618em;
  color: var(--light__onsurfacevariant_clv\<deleted\|variable-e2735994-eca0-d8cd-6ec0-c43ed8164929\>);
  display: flex;
  justify-content: center;
  overflow: hidden;
  padding: .618em;
}