/* Cards */
.card {
  background-color: var(--light__surfacecontainerlowest_clv);
}

.card.scalefactor__display2 {
  background-color: var(--light__surfacecontainerlowest_clv);
  border-radius: 2.05818em;
  padding: 2.05818em 2.618em 2.618em;
}

.card.outlined {
  border: 1px solid #85736f;
}

.card.outlined.scalefactor__titleb.m-bottom__xxl {
  background-color: rgba(0, 0, 0, 0);
}

.card.scalefactor__heading {
  border-radius: .887579em;
  padding: .887579em 1.129em 1.129em;
}

.card.scalefactor__heading.on-home-feature {
  -webkit-backdrop-filter: brightness(160%) blur(20px);
  backdrop-filter: brightness(160%) blur(20px);
  background-color: rgba(0, 0, 0, 0);
}

.card.scalefactor__display1 {
  border-radius: 3.3294em;
  padding: 3.3294em 4.235em 4.235em;
}

.card.scalefactor__display1.util-grid.col__2 {
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
}

.card.scalefactor__titlec {
  border-radius: 1em;
  padding: 1em 1.272em 1.272em;
}

.card.scalefactor__caption {
  border-radius: .617925em;
  padding: .618em .786em .786em;
}

.card.scalefactor__body {
  border-radius: .786164em;
  padding: .786164em 1em 1em;
}

.card.scalefactor__titleb {
  border-radius: 1.27201em;
  padding: 1.27201em 1.618em 1.618em;
}

.card.scalefactor__subheading {
  border-radius: .695755em;
  padding: .695755em .885em .885em;
}

.card.scalefactor__callout {
  border-radius: .741352em;
  padding: .741352em .943em .943em;
}

.card.scalefactor__titlea {
  border-radius: 1.61792em;
  padding: 1.61792em 2.058em 2.058em;
}

.card.scalefactor__titlea.bg-dark__surface.test {
  padding-top: 2.058em;
}

.card.scalefactor__label {
  border-radius: .656447em;
  padding: .656447em .835em .835em;
}

.card.margin-container {
  border-radius: 1em;
  font-family: Roboto Mono, sans-serif;
  font-size: .786em;
  line-height: 1.272;
  padding: 2.058em;
}

.card__outline {
  border: 1px solid var(--light__outlinevariant_clv\<deleted\|variable-5ff284fd-d4c0-3680-af79-5751cdf0708a\>);
}

.card__outline.scalefactor__display2 {
  border-radius: 2.05818em;
  padding: 2.05818em 2.618em 2.618em;
}

.card__outline.scalefactor__heading {
  border-radius: .887579em;
  padding: .887579em 1.129em 1.129em;
}

.card__outline.scalefactor__display1 {
  border-radius: 3.3294em;
  padding: 3.3294em 4.235em 4.235em;
}

.card__outline.scalefactor__titlec {
  border-radius: 1em;
  padding: 1em 1.272em 1.272em;
}

.card__outline.scalefactor__caption {
  border-radius: .617925em;
  padding: .617925em .786em .786em;
}

.card__outline.scalefactor__body {
  border-radius: .786164em;
  padding: .786164em 1em 1em;
}

.card__outline.scalefactor__body.m-bottom__xl {
  padding-top: .786em;
}

.card__outline.scalefactor__titleb {
  border-radius: 1.27201em;
  padding: 1.27201em 1.618em 1.618em;
}

.card__outline.scalefactor__subheading {
  border-radius: .695755em;
  padding: .695755em .885em .885em;
}

.card__outline.scalefactor__callout {
  border-radius: .741352em;
  padding: .741352em .943em .943em;
}

.card__outline.scalefactor__titlea {
  border-radius: 1.61792em;
  padding: 1.61792em 2.058em 2.058em;
}

.card__outline.scalefactor__label {
  border-radius: .656447em;
  padding: .656447em .835em .835em;
}

.card__outline.scalefactor__overline {
  padding: .618em .786em .786em;
}

.card__link {
  background-color: var(--light__surfacecontainerlowest_clv);
  cursor: pointer;
  overflow: hidden;
  position: relative;
  text-decoration: none;
}

.card__link.scalefactor__display2 {
  border-radius: 2.05818em;
  padding: 2.05818em 2.618em 2.618em;
}

.card__link.scalefactor__heading {
  border-radius: .887579em;
  padding: .887579em 1.129em 1.129em;
}

.card__link.scalefactor__display1 {
  border-radius: 3.3294em;
  padding: 3.3294em 4.235em 4.235em;
}

.card__link.scalefactor__titlec {
  border-radius: 1em;
  padding: 1em 1.272em 1.272em;
}

.card__link.scalefactor__caption {
  border-radius: .617925em;
  padding: .617925em .786em .786em;
}

.card__link.scalefactor__body {
  border-radius: .786164em;
  padding: .786164em 1em 1em;
}

.card__link.scalefactor__titleb {
  border-radius: 1.27201em;
  padding: 1.27201em 1.618em 1.618em;
}

.card__link.scalefactor__subheading {
  border-radius: .695755em;
  padding: .695755em .885em .885em;
}

.card__link.scalefactor__callout {
  border-radius: .741352em;
  padding: .741352em .943em .943em;
}

.card__link.scalefactor__titlea {
  border-radius: 1.61792em;
  padding: 1.61792em 2.058em 2.058em;
}

.card__link.scalefactor__label {
  border-radius: .656447em;
  padding: .656447em .835em .835em;
}

.card__link.scalefactor__overline {
  border-radius: .617925em;
  padding: .618em .786em .786em;
}

.card__outline__link {
  border: .129em solid var(--light__outlinevariant_clv\<deleted\|variable-5ff284fd-d4c0-3680-af79-5751cdf0708a\>);
  overflow: hidden;
  position: relative;
}

.card__outline__link.scalefactor__display2 {
  border-radius: 2.05818em;
  padding: 2.05818em 2.618em 2.618em;
}

.card__outline__link.scalefactor__heading {
  border-radius: .887579em;
  padding: .887579em 1.129em 1.129em;
}

.card__outline__link.scalefactor__display1 {
  border-radius: 3.3294em;
  padding: 3.3294em 4.235em 4.235em;
}

.card__outline__link.scalefactor__titlec {
  border-radius: 1em;
  padding: 1em 1.272em 1.272em;
}

.card__outline__link.scalefactor__caption {
  border-radius: .617925em;
  padding: .617925em .786em .786em;
}

.card__outline__link.scalefactor__body {
  border-radius: .786164em;
  padding: .786164em 1em 1em;
}

.card__outline__link.scalefactor__titleb {
  border-radius: 1.27201em;
  padding: 1.27201em 1.618em 1.618em;
}

.card__outline__link.scalefactor__subheading {
  border-radius: .695755em;
  padding: .695755em .885em .885em;
}

.card__outline__link.scalefactor__callout {
  border-radius: .741352em;
  padding: .741352em .943em .943em;
}

.card__outline__link.scalefactor__titlea {
  border-radius: 1.61792em;
  padding: 1.61792em 2.058em 2.058em;
}

.card__outline__link.scalefactor__label {
  border-radius: .656447em;
  padding: .656447em .835em .835em;
}

.card__outline__link.scalefactor__overline {
  padding: .618em .786em .786em;
}

.testimonial-heading-wrap {
  align-items: center;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-columns: max-content 1fr;
  grid-template-rows: auto;
}

.h-card-image {
  aspect-ratio: 1;
  border-radius: var(--size--m);
  flex: none;
  height: 2.618em;
  margin-right: var(--size--m);
  object-fit: contain;
  width: 2.618em;
}

.h-card-image.shadowsoft {
  box-shadow: 0 0 1px #727272, 0 12px 50px rgba(21, 19, 22, .06);
  margin-top: -2.618em;
}

.h-card {
  display: flex;
  grid-auto-columns: 1fr;
  grid-template-columns: min-content max-content;
  grid-template-rows: auto auto;
}

.h-card.scalefactor__heading {
  padding: .888em 1.129em 1.129em;
}

.h-card-content {
  flex: 1 0 auto;
}

.h-card-heading {
  font-size: 1em;
  font-weight: 600;
  letter-spacing: -.011em;
  line-height: 1.272;
  padding: 0;
  position: relative;
  width: 100%;
  z-index: 1;
}

.h-card-heading.m-bottom__xl.tech {
  font-weight: 600;
}

.h-card-subheading {
  font-size: .885em;
  font-weight: 400;
  letter-spacing: -.007em;
  line-height: 1.272;
  width: 100%;
}

.h-card-copy {
  display: flex;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-columns: min-content max-content;
  grid-template-rows: auto auto;
}

.h-card-outline {
  border: 1px solid var(--light__outline_clv);
  display: flex;
  grid-auto-columns: 1fr;
  grid-template-columns: min-content max-content;
  grid-template-rows: auto auto;
}

.h-card-outline.scalefactor__heading {
  border: 1px solid var(--light__outline_clv);
  border-radius: .888em;
  padding: .888em 1.129em 1.129em;
}

.h-card-fill {
  background-color: var(--light__surface_clv);
  display: flex;
  grid-auto-columns: 1fr;
  grid-template-columns: min-content max-content;
  grid-template-rows: auto auto;
}

.h-card-fill.scalefactor__heading {
  border-radius: .888em;
  padding: .888em 1.129em 1.129em;
}

.h-card-glass {
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  display: flex;
  grid-auto-columns: 1fr;
  grid-template-columns: min-content max-content;
  grid-template-rows: auto auto;
}

.h-card-glass.scalefactor__heading {
  -webkit-backdrop-filter: brightness(110%) blur(20px) blur(20px);
  backdrop-filter: brightness(110%) blur(20px) blur(20px);
  border-radius: .888em;
  overflow: hidden;
  padding: .888em 1.129em 1.129em;
}

.h-card-glass.scalefactor__heading.shadow2 {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.h-card-glass.position__absolute {
  -webkit-backdrop-filter: saturate(23%) blur(20px) brightness(180%);
  backdrop-filter: saturate(23%) blur(20px) brightness(180%);
  bottom: auto;
  left: 0%;
  right: auto;
  top: 0%;
}

.h-card-glass-bg {
  background-color: var(--light__surface_clv);
  bottom: 0%;
  left: 0%;
  opacity: .49;
  pointer-events: none;
  position: absolute;
  right: 0%;
  top: 0%;
  z-index: -1;
}