.color-light__info {
  color: var(--light__info_clv);
}

.color__light-primary {
  color: var(--light__primary_clv);
}

.color__secondary {
  color: var(--light__secondary_clv);
}

.color__onsurfacevariant {
  color: var(--light__onsurfacevariant_clv);
}

.color__outline {
  -webkit-text-stroke-color: #85736f;
  color: var(--light__outline_clv);
}

.color__info {
  color: #0072d9;
}

.color__inverseprimary {
  color: var(--light__inverseprimary_clv);
}

.color__success {
  color: var(--light__success_clv);
}

.color__error {
  color: var(--light__error_clv);
}

.color__warning {
  color: var(--light__warning_clv);
}