.grid {
  display: grid;
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
}

.grid.col__5 {
  grid-column-gap: 2.618em;
  grid-row-gap: 2.618em;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
}

.grid.col__5.gap__xl {
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 1.618em;
  grid-row-gap: 1.618em;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
}

.grid.col__8 {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
}

.grid.col__8.overflow-x.tight {
  grid-template-columns: max-content 1fr 1fr 1fr 1fr;
}

.grid.col__6 {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
}

.grid.col__1 {
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}

.grid.col__2 {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}

.grid.col__2.on-dropdown-link {
  grid-template-columns: max-content 1fr;
  position: relative;
  z-index: 1;
}

.grid.col__3 {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}

.grid.col__3.gap__xl {
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 1.618em;
  grid-row-gap: 1.618em;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}

.grid.col__3.gap__xxl {
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 2.618em;
  grid-row-gap: 2.618em;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}

.grid.col__11 {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
}

.grid.col__12 {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
}

.grid.col__7 {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
}

.grid.col__10 {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
}

.grid.col__9 {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
}

.grid.col__4 {
  grid-column-gap: .618em;
  grid-row-gap: .618em;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
}

.grid.col__4.simple__swatches {
  grid-template-columns: max-content 1fr 1fr 1fr;
}