.container__widest {
  margin-left: auto;
  margin-right: auto;
  max-width: none;
}

.container__narrowest {
  margin-left: auto;
  margin-right: auto;
  max-width: 988.875px;
}

.container__narrow {
  margin-left: auto;
  margin-right: auto;
  max-width: 1257px;
}

.container__wide {
  margin-left: auto;
  margin-right: auto;
  max-width: 1806.4px;
}

.section__mostpadding {
  padding: 11.087em 4.235em;
  position: relative;
}

.section__leastpadding {
  padding: 1.618em;
}

.section__leastpadding.position__rel {
  padding-left: 4.235em;
  padding-right: 4.235em;
}

.section__lesspadding {
  padding: 2.618em 4.235em;
}

.section__lesspadding.position__rel.m-bottom__xl {
  padding-left: 4.235em;
  padding-right: 4.235em;
}

.section__morepadding {
  padding: 6.852em 4.235em;
}

.section__default {
  padding: 1.618em;
}

.section__default.hero {
  align-items: stretch;
  display: grid;
  flex-direction: column;
  grid-auto-columns: 1fr;
  grid-column-gap: 4.235em;
  grid-row-gap: 4.235em;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  padding-left: 0;
  padding-right: 0;
  padding-top: 4.235em;
  position: relative;
}

.container__default {
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
}

@media screen and (max-width: 991px) {
  .section__default {
    padding: 1.618em;
  }

  .section__mostpadding {
    padding: 6.85229em 2.058em;
  }

  .section__lesspadding {
    padding-left: 1.618em;
    padding-right: 1.618em;
  }

  .section__morepadding {
    padding: 4.23486em 1.618em;
  }
}

@media screen and (max-width: 479px) {
  .grid.col__2.gap__xxl {
    display: grid;
    grid-auto-columns: 1fr;
    grid-column-gap: 2.618em;
    grid-row-gap: 2.618em;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }
}