.m-left__m {
  margin-left: .618em;
}

.m-right__xs {
  margin-right: .236em;
}

.m-top__m {
  margin-top: .786164em;
}

.m-left__l {
  margin-left: 1em;
}

.m-top__xl {
  margin-top: 1.618em;
}

.m-top__xxl {
  margin-top: 2.618em;
}

.m-bottom__xs {
  margin-bottom: .3em;
}

.m-left__s {
  margin-left: .272em;
}

.m-top__xs {
  margin-top: .237948em;
}

.m-left__xxl {
  margin-left: 2.618em;
}

.m-right__xl {
  margin-right: 1.618em;
}

.m-bottom__m {
  margin-bottom: .786096em;
}

.m-bottom__s {
  margin-bottom: .485em;
}

.m-right__xxl {
  margin-right: 2.618em;
}

.m-bottom__l {
  margin-bottom: 1em;
}

.pad-bottom__xxl {
  margin-bottom: 0;
  padding-bottom: 2.618em;
}

.m-left__xl {
  margin-left: 1.618em;
}

.m-left__xs {
  margin-left: .236em;
}

.m-right__m {
  margin-right: .618em;
}

.m-bottom__xl {
  margin-bottom: 1.618em;
}

.margin-top__xs {
  margin-top: .164088em;
}

.m-right__s {
  margin-right: .272em;
}

.m-right__l {
  margin-right: 1em;
}

.m-top__l {
  margin-top: 1.272em;
}

.m-bottom__xxl {
  margin-bottom: 2.618em;
}