.navbar {
  align-items: center;
  background-color: rgba(0, 0, 0, 0);
  color: var(--light__secondary_clv);
  display: flex;
}

.nav-buttons {
  display: flex;
  flex: 1;
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  justify-content: flex-end;
}

.navbar-menu {
  align-items: center;
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  flex: 0 auto;
}

.nav-links {
  align-items: center;
  display: flex;
  flex: 0 auto;
  grid-auto-columns: auto;
  grid-column-gap: 0em;
  grid-row-gap: 0em;
  grid-template-columns: auto auto auto auto auto;
  grid-template-rows: auto;
}

.button__navcta {
  align-items: center;
  background-color: #3d56bc;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 100em;
  color: #fff;
  display: inline-block;
  grid-column-gap: .485867em;
  grid-row-gap: .485867em;
  justify-content: flex-start;
  overflow: hidden;
  padding: .485867em 1em;
  position: relative;
  text-decoration: none;
}

.button__navcta.bg__onprimary {
  background-color: #fff;
  color: #3d56bc;
}

.top-app-bar {
  position: sticky;
  top: 0;
  z-index: 99;
}

.top-app-bar-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  position: relative;
  z-index: 2;
}

.nav-link-button {
  align-items: center;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 100em;
  color: #3d56bc;
  display: inline-block;
  grid-column-gap: .485867em;
  grid-row-gap: .485867em;
  justify-content: flex-start;
  overflow: hidden;
  padding: .485867em 1em;
  position: relative;
  text-decoration: none;
}

.nav-link-button.w--current {
  background-color: #dde1ff;
}

.nav-link-button.color__onprimary {
  color: #fff;
}

.nav-link-button.color__onprimary.w--current {
  background-color: #fff;
  color: #3d56bc;
}

.navbar-wrap {
  border-bottom: 1px solid var(--light__outlinevariant_clv);
  bottom: auto;
  color: #fff;
  left: 0%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1.618em;
  position: sticky;
  right: 0%;
  top: 0;
  z-index: 99;
}

.glass-overlay {
  display: none;
}

.navbar-wrap.bg__transparent-glass__surfacecontainerlow {
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  background-color: rgba(243, 244, 247, .84);
  color: #3d56bc;
}

.dropdown-link {
  border-radius: .786em;
  color: #3d56bc;
  font-weight: 600;
  overflow: hidden;
  padding: .786em 1em .786em .786em;
  position: relative;
  width: 100%;
}

.dropdown-link:hover {
  opacity: 1;
}

.mobile__cta-button {
  align-items: center;
  background-color: #3d56bc;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 100em;
  color: #fff;
  display: none;
  grid-column-gap: .485867em;
  grid-row-gap: .485867em;
  justify-content: flex-start;
  overflow: hidden;
  padding: .485867em 1em;
  position: relative;
  text-decoration: none;
}

.navbar-glass {
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  bottom: 0%;
  left: 0%;
  pointer-events: none;
  position: absolute;
  right: 0%;
  top: 0%;
  z-index: 0;
}

.navbar-bgfill {
  background-color: var(--light__background_clv);
  bottom: 0%;
  left: 0%;
  opacity: .7;
  pointer-events: none;
  position: absolute;
  right: 0%;
  top: 0%;
  z-index: 1;
}

.navbar-label {
  font-size: .835em;
  font-weight: 500;
  letter-spacing: -.004em;
  line-height: 1.272;
  margin-bottom: 0;
  position: static;
  top: 6.235em;
}

.navbar-divider {
  background-color: var(--light__outlinevariant_clv);
  height: 1px;
  margin-bottom: 2.618em;
  margin-top: 2.618em;
}

.navmenu-bgfill {
  background-color: var(--light__background_clv);
  bottom: 0%;
  display: none;
  left: 0%;
  opacity: .7;
  position: absolute;
  right: 0%;
  top: 0%;
  z-index: 1;
}

.navmenu-glass {
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  bottom: 0%;
  display: none;
  left: 0%;
  position: absolute;
  right: 0%;
  top: 0%;
  z-index: 0;
}

.nav-sectiontitle {
  display: none;
  font-size: .885em;
  font-weight: 600;
  letter-spacing: -.007em;
  line-height: 1.272;
  margin-bottom: 1em;
}

.navmenu__title {
  display: none;
  font-size: 1.618em;
  font-weight: 600;
  letter-spacing: -.02em;
  line-height: 1.272;
}

.top-app-bar-content {
  align-items: center;
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  flex: 1;
}

@media screen and (max-width: 991px) {
  .navbar {
    color: var(--light__secondary_clv);
    height: 68px;
    justify-content: space-between;
    z-index: 3;
  }

  .nav-buttons {
    align-items: center;
    background-color: var(--light__surfacecontainerlowest_clv);
    bottom: 0%;
    display: flex;
    flex: 0 auto;
    flex-direction: row;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    left: 0%;
    padding: 1.618em;
    position: fixed;
    right: 0%;
    top: auto;
    transform: translate(-100%);
    z-index: 2;
  }

  .navbar-menu {
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    background-color: var(--light__surfacecontainerlowest_clv);
    border-right: 1px solid var(--light__outlinevariant_clv);
    bottom: 0%;
    box-shadow: 0 4px 20px rgba(0, 0, 0, .2);
    color: var(--light__onsurface_clv);
    display: flex;
    flex: none;
    flex-flow: column;
    height: 100svh;
    justify-content: center;
    left: 0%;
    max-height: 100svh;
    overflow: auto;
    padding: 0 0 6.852em;
    position: absolute;
    right: 0%;
    top: 0%;
    width: 100vw;
    z-index: 2;
  }

  .dropdown-link-wrap {
    border-radius: .786em;
    overflow: hidden;
    padding-bottom: 0;
    padding-top: 0;
    text-align: center;
  }

  .nav-links {
    align-items: flex-start;
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    grid-column-gap: 0em;
    grid-row-gap: 0em;
    grid-template-columns: 1fr;
    padding: 1.618em 1.618em 0;
    position: relative;
    text-align: left;
    z-index: 2;
  }

  .dropdown {
    align-self: stretch;
    color: var(--light__onsurface_clv);
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 0;
    padding-top: 0;
    text-align: center;
  }

  .dropdown-list {
    background-color: rgba(0, 0, 0, 0);
    box-shadow: none;
    display: block;
    opacity: 1;
    padding: 0;
    position: relative;
  }

  .dropdown-list.shadowsoft {
    display: block;
  }

  .dropdown-list.shadowsoft.w--open {
    border-radius: 0;
    box-shadow: none;
    position: relative;
  }

  .button__navcta {
    background-color: rgba(0, 0, 0, 0);
    border-radius: 0;
    color: #350040;
    display: flex;
    justify-content: center;
    padding-bottom: 1em;
    padding-top: 1em;
  }

  .button__navcta.bg__onprimary {
    background-color: rgba(0, 0, 0, 0);
    color: #350040;
  }

  .nav-link-button {
    border-radius: 0;
    color: #fff;
    padding-bottom: 1em;
    padding-top: 1em;
  }

  .nav-link-button.w--current {
    background-color: rgba(0, 0, 0, 0);
    background-image: linear-gradient(rgba(0, 0, 0, .15), rgba(0, 0, 0, .15));
  }

  .nav-link-button.color__onprimary {
    border-radius: 0;
    display: flex;
    flex-direction: column;
  }

  .nav-link-button.color__onprimary.w--current {
    background-color: rgba(0, 0, 0, 0);
    color: #fff;
  }

  .menu-button {
    border-left: 1px solid var(--light__outlinevariant_clv);
    transition: background-color .2s;
  }

  .menu-button.w--open {
    background-color: var(--light__error_clv);
    color: var(--light__inverseonsurface_clv);
    z-index: 99;
  }

  .menu-button.bg-light__tertiarycontainer {
    bottom: 0;
    box-shadow: 0 8px 40px rgba(0, 0, 0, .12);
    overflow: hidden;
    position: relative;
    right: 0;
    z-index: 0;
  }

  .menu-button.bg-light__tertiarycontainer.w--open {
    background-color: var(--light__error_clv);
    bottom: 0;
    color: var(--light__onerror_clv);
    position: relative;
    right: 0;
  }

  .glass-overlay {
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    bottom: 0%;
    display: none;
    left: 0%;
    margin-top: 62px;
    position: fixed;
    right: 0%;
    top: 0%;
    width: 100vw;
    z-index: 0;
  }

  .navbar-wrap {
    padding: 0;
    z-index: 99;
  }

  .dropdown-link {
    color: var(--light__onsurface_clv);
    display: flex;
    font-weight: 400;
    padding: 1em;
    text-align: left;
    text-decoration: none;
  }

  .dropdown-link.w--current {
    background-color: var(--light__primarycontainer_clv);
    color: var(--light__onprimarycontainer_clv);
  }

  .mobile__cta-button {
    background-color: rgba(0, 0, 0, 0);
    border-radius: 0;
    color: #350040;
    display: block;
    justify-content: center;
    padding-bottom: 1em;
    padding-top: 1em;
  }

  .navbar-bgfill {
    bottom: 0%;
    height: 100%;
    left: 0%;
    right: 0%;
    top: 0%;
  }

  .navbar-divider {
    align-self: stretch;
    background-color: var(--light__outlinevariant_clv);
    flex: none;
    height: 1px;
    margin-bottom: 1.618em;
    margin-top: 1.618em;
    width: 100%;
  }

  .navmenu-bgfill {
    bottom: 0%;
    display: block;
    flex: 1;
    left: 0%;
    opacity: .85;
    pointer-events: none;
    right: 0%;
    top: 0%;
  }

  .navmenu-glass {
    display: block;
    pointer-events: none;
  }

  .nav-sectiontitle {
    color: var(--light__onsurfacevariant_clv);
    display: block;
  }

  .nav-links__bottomgradient {
    position: fixed;
  }

  .navmenu__title {
    display: block;
  }

  .navmenu-titlewrap {
    align-items: center;
    background-color: var(--light__surfacecontainerlowest_clv);
    border-bottom: 1px solid var(--dark__outlinevariant_clv);
    display: flex;
    height: 68px;
    padding-left: 1.618em;
    padding-right: 1.618em;
    position: sticky;
    top: 0;
    z-index: 3;
  }
}

@media screen and (max-width: 767px) {
  .navbar-menu {
    border-right: 1px solid var(--light__outlinevariant_clv);
    box-shadow: 0 4px 20px rgba(0, 0, 0, .2);
    z-index: 98;
  }

  .dropdown-link-wrap {
    align-self: stretch;
    width: 100%;
  }

  .nav-links {
    align-items: flex-start;
    display: flex;
    flex: 0 auto;
  }

  .dropdown {
    align-self: auto;
    flex-direction: column;
    width: 100%;
  }

  .dropdown-list {
    display: flex;
  }

  .dropdown-link {
    color: var(--light__onsurface_clv);
    font-weight: 400;
  }

  .navbar-label {
    color: var(--light__onsurfacevariant_clv);
  }

  .navbar-label.m-bottom__xl {
    margin-bottom: 1.618em;
  }

  .navbar-divider {
    align-self: stretch;
    margin-bottom: 1.618em;
    margin-top: 1.618em;
  }
}

@media screen and (max-width: 479px) {
  .mobile__cta-button {
    background-color: rgba(0, 0, 0, 0);
    padding: 0;
  }
}