.pad-left__xxl {
  margin-left: 0;
  padding-left: 2.618em;
}

.pad-left__xl {
  margin-left: 0;
  padding-left: 1.618em;
}

.pad-left__l {
  margin-left: 0;
  padding-left: 1em;
}

.pad-left__m {
  margin-left: 0;
  padding-left: .618em;
}

.pad-left__s {
  margin-left: 0;
  padding-left: .345em;
}

.pad-left__xs {
  margin-left: 0;
  padding-left: .236em;
}

.pad-right__xs {
  margin-right: 0;
  padding-right: .236em;
}

.pad-right__s {
  margin-right: 0;
  padding-right: .345em;
}

.pad-right__m {
  margin-right: 0;
  padding-right: .618em;
}

.pad-right__l {
  margin-right: 0;
  padding-right: 1em;
}

.pad-right__xl {
  margin-right: 0;
  padding-right: 1.618em;
}

.pad-right__xxl {
  margin-right: 0;
  padding-right: 2.618em;
}

.pad-top__xxl {
  margin-top: 0;
  padding-top: 2.618em;
}

.pad-top__xl {
  margin-top: 0;
  padding-top: 1.618em;
}

.pad-top__m {
  margin-top: 0;
  padding-top: .786096em;
}

.m-top__s {
  margin-top: .485em;
}

.pad-top__s {
  margin-top: 0;
  padding-top: .345984em;
}

.pad-top__xs {
  margin-top: 0;
  padding-top: .236em;
}

.pad-bottom__xs {
  margin-bottom: 0;
  padding-bottom: .236em;
}

.pad-bottom__s {
  margin-bottom: 0;
  padding-bottom: .345em;
}

.pad-bottom__m {
  margin-bottom: 0;
  padding-bottom: .786096em;
}

.pad-bottom__l {
  margin-bottom: 0;
  padding-bottom: 1em;
}

.pad-bottom__xl {
  margin-bottom: 0;
  padding-bottom: 1.618em;
}

.pad-top__l {
  margin-top: 0;
  padding-top: 1em;
}

.pad-top__l.m-bottom__xl {
  line-height: 1.618;
}