.scale__1-272 {
  transform: scale(1.272);
}

.scale__1-618 {
  transform: scale(1.618);
}

._w-1em {
  width: 1em;
}

._w-1-272em {
  width: 1.272em;
}

._w-2-618em {
  width: 2.618em;
}

._w-1-618em {
  width: 1.618em;
}

.scale__1-129 {
  transform: scale(1.129);
}

.start-icon {
  padding-left: .618em;
  padding-right: 1em;
}

._w-xxs {
  width: 1em;
}

._w-xs {
  width: 1.129em;
}

._w-s {
  width: 1.272em;
}

._w-m {
  width: 1.618em;
}

._w-l {
  width: 2.058em;
}

._w-xl {
  width: 2.618em;
}

._w-xxl {
  width: 4.235em;
}

._w-xxxl {
  width: 6.238em;
}

.h-xxs {
  height: 1.06em;
}

.h-xs {
  height: 1.128em;
}

.h-m {
  height: 1.618em;
}

.h-l {
  height: 2.058em;
}

.h-xl {
  height: 2.618em;
}

.h-xxl {
  height: 4.235em;
}

.h-xxxl {
  height: 6.238em;
}

.h-s {
  height: 1.272em;
}

._w-100 {
  width: 100%;
}