.snackbar-icon-wrap {
  align-items: center;
  background-color: var(--light__surfacecontainerlow_clv);
  border-radius: .618em;
  color: var(--light__onsurface_clv);
  display: flex;
  justify-content: center;
  padding: .618em;
}

.snackbar-icon-wrap.success {
  background-color: var(--light__successcontainer_clv);
  color: var(--light__onsuccesscontainer_clv);
}

.snackbar-icon-wrap.info {
  background-color: var(--light__infocontainer_clv);
  color: var(--light__oninfocontainer_clv);
}

.snackbar-icon-wrap.warning {
  background-color: var(--light__warningcontainer_clv);
  color: var(--light__onwarningcontainer_clv);
}

.snackbar-icon-wrap.error {
  background-color: var(--light__errorcontainer_clv);
  color: var(--light__onerrorcontainer_clv);
}

.text-align__right {
  text-align: right;
}

.snackbar {
  align-items: center;
  display: flex;
  grid-column-gap: .618em;
  grid-row-gap: .618em;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

.snackbar-wrap__padded {
  background-color: var(--light__surfacecontainerlowest_clv);
  border-radius: .618em;
  display: inline-block;
  justify-content: center;
  padding: .381971em 1em .381971em .382em;
}

.snackbar-wrap__padded.align-self__start {
  align-self: flex-start;
}

.snackbar-divider {
  background-color: var(--light__outlinevariant_clv);
  width: 1px;
}

.snackbar-content {
  align-items: center;
  display: flex;
}

.snackbar__action {
  display: flex;
  grid-column-gap: var(--size--m);
  grid-row-gap: var(--size--m);
}

@media screen and (max-width: 991px) {
  .snackbar {
    align-items: center;
  }

  .snackbar-divider {
    display: none;
  }

  .snackbar-content {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    grid-column-gap: var(--size--s);
    grid-row-gap: var(--size--s);
  }

  .snackbar__action {
    align-self: flex-end;
  }
}

@media screen and (max-width: 479px) {
  .snackbar {
    align-items: flex-start;
  }

  .snackbar-content {
    flex-direction: column;
    grid-column-gap: 0em;
    grid-row-gap: 0em;
  }

  .snackbar__action {
    margin-bottom: var(--size--s);
    margin-top: 1em;
  }
}