.overline {
  letter-spacing: .0618em;
  text-transform: uppercase;
  font-size: .786em;
  font-weight: 400;
  line-height: 1.272;
}

.callout {
  letter-spacing: -.009em;
  font-size: .943em;
  font-weight: 400;
  line-height: 1.272;
}

.rich-text {
  color: var(--light__onsurface_clv);
}

.rich-text h1 {
  color: var(--light__onsurface_clv);
  letter-spacing: -.035em;
  margin-top: 0;
  margin-bottom: 1.129em;
  font-size: 4.235em;
  font-weight: 700;
  line-height: 1.129;
}

.rich-text h2 {
  letter-spacing: -.022em;
  margin-top: .786096em;
  margin-bottom: .345984em;
  font-size: 2.618em;
  font-weight: 700;
  line-height: 1.272;
}

.rich-text h3 {
  letter-spacing: -.022em;
  margin-top: .786096em;
  margin-bottom: .345984em;
  font-size: 2.058em;
  font-weight: 600;
  line-height: 1.272;
}

.rich-text h4 {
  letter-spacing: -.02em;
  margin-top: .786096em;
  margin-bottom: .345984em;
  font-size: 1.618em;
  font-weight: 600;
  line-height: 1.272;
}

.rich-text h5 {
  letter-spacing: -.017em;
  margin-top: .786096em;
  margin-bottom: .345984em;
  font-size: 1.272em;
  font-weight: 600;
  line-height: 1.272;
}

.rich-text h6 {
  letter-spacing: -.014em;
  margin-top: .786096em;
  margin-bottom: .345984em;
  font-size: 1.129em;
  font-weight: 600;
  line-height: 1.272;
}

.rich-text ol {
  margin-top: 1em;
  margin-bottom: 1em;
}

.rich-text ul {
  margin-top: 1em;
  margin-bottom: 1em;
  padding-left: 2.618em;
  line-height: 1.618;
}

.rich-text blockquote {
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 0 1.618em;
  font-size: 1em;
  line-height: 1.618;
}

.rich-text p {
  color: var(--light__onsurfacevariant_clv);
  margin-top: 1em;
  margin-bottom: 1em;
}

.rich-text a {
  color: var(--light__primary_clv);
  font-weight: 700;
}

.rich-text figcaption {
  color: var(--light__onsurfacevariant_clv);
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: .786em;
  line-height: 1.618;
}

.rich-text img {
  margin-top: 1em;
  margin-bottom: 11em;
}

.heading__bold {
  letter-spacing: -.014em;
  font-size: 1.129em;
  font-weight: 700;
  line-height: 1.272;
}

.titlea {
  letter-spacing: -.022em;
  font-size: 2.058em;
  font-weight: 400;
  line-height: 1.272;
}

.caption__bold {
  letter-spacing: -.007em;
  font-size: .786em;
  font-weight: 600;
  line-height: 1.272;
}

.titleb {
  letter-spacing: -.02em;
  font-size: 1.618em;
  font-weight: 400;
  line-height: 1.272;
}

.overline__bold {
  letter-spacing: .0618em;
  text-transform: uppercase;
  font-size: .786em;
  font-weight: 600;
  line-height: 1.272;
}



.label {
  letter-spacing: -.004em;
  margin-bottom: 0;
  font-size: .835em;
  font-weight: 500;
  line-height: 1.272;
  position: static;
  top: 6.235em;
}

.display2__bold {
  letter-spacing: -.022em;
  font-size: 2.618em;
  font-weight: 700;
  line-height: 1.272;
}

.titleb__bold {
  letter-spacing: -.02em;
  font-size: 1.618em;
  font-weight: 600;
  line-height: 1.272;
}


.display2__bold.m-bottom__m.tech {
  font-family: Roboto Mono, sans-serif;
}




.caption {
  letter-spacing: -.007em;
  font-size: .786em;
  font-weight: 400;
  line-height: 1.272;
}

.display1__bold {
  letter-spacing: -.022em;
  font-size: 4.235em;
  font-weight: 700;
  line-height: 1.129;
}

.titlec {
  letter-spacing: -.017em;
  font-size: 1.272em;
  font-weight: 400;
  line-height: 1.272;
}

.titlec.fix {
  font-size: 20.352px;
}


.display2 {
  letter-spacing: -.022em;
  font-size: 2.618em;
  font-weight: 400;
  line-height: 1.272;
}

.body__bold {
  z-index: 1;
  letter-spacing: -.011em;
  padding: 0;
  font-size: 1em;
  font-weight: 600;
  line-height: 1.618;
  position: relative;
}

.body__bold.m-bottom__xl.tech {
  font-weight: 600;
}

.body__bold.fix {
  font-size: 16px;
}

.display1 {
  letter-spacing: -.022em;
  font-size: 4.235em;
  font-weight: 400;
  line-height: 1.129;
}

.titlec__bold {
  letter-spacing: -.017em;
  font-size: 1.272em;
  font-weight: 600;
  line-height: 1.272;
}

.body {
  letter-spacing: -.011em;
  cursor: default;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.618;
}

.body.opacity__75.fix {
  font-size: 16px;
}

.titlea__bold {
  letter-spacing: -.022em;
  font-size: 2.058em;
  font-weight: 700;
  line-height: 1.272;
}

.titlea__bold.fix {
  font-size: 32.928px;
}



.callout__bold {
  letter-spacing: -.009em;
  font-size: .943em;
  font-weight: 600;
  line-height: 1.272;
  text-decoration: none;
}

.subheading {
  letter-spacing: -.007em;
  font-size: .885em;
  font-weight: 400;
  line-height: 1.272;
}

.subheading__bold {
  letter-spacing: -.007em;
  font-size: .885em;
  font-weight: 600;
  line-height: 1.272;
}

.label__bold {
  letter-spacing: -.004em;
  font-size: .835em;
  font-weight: 700;
  line-height: 1.272;
}

.subheading__bold {
  color: var(--light__onsurfacevariant_clv);
}

.heading {
  letter-spacing: -.014em;
  font-size: 1.129em;
  font-weight: 600;
  line-height: 1.272;
}


@media screen and (max-width: 991px) {
  body {
    font-size: 1vw;
  }

}


@media screen and (max-width: 767px) {

  .display1__bold,
  .display1 {
    font-size: 3.3301em;
  }


}


@media screen and (max-width: 479px) {

  .display2__bold {
    font-size: 2.05818em;
  }

  .display1__bold {
    font-size: 2.61743em;
  }

  .display2 {
    font-size: 2.05818em;
  }

  .display1 {
    font-size: 2.61743em;
  }

  .titlea__bold,
  .titlea {
    font-size: 1.82285em;
  }


}