:root {



  --light__background_clv: #fefbff;
  --light__onsurface_clv: #1b1b1f;
  --light__primary_clv: #4658ac;
  --light__surfacecontainerlowest_clv: #fff;
  --light__onsurfacevariant_clv: #45464f;
  --dark__outline_clv: #90909a;
  --dark__error_clv: #ffb4ab;
  --dark__primary_clv: #b9c3ff;

  --light__onprimary_clv: #fefbff;
  --light__outlinevariant_clv: #c6c5d0;
  --light__shadow_clv: #000;
  --light__info_clv: #1758c7;
  --light__secondary_clv: #5a5d72;
  --light__outline_clv: #767680;
  --light__inverseprimary_clv: #b9c3ff;
  --light__surfacecontainerlow_clv: #f5f2f7;
  --light__successcontainer_clv: #92f8b4;
  --light__onsuccesscontainer_clv: #00210f;
  --light__infocontainer_clv: #dae2ff;
  --light__oninfocontainer_clv: #001946;
  --light__warningcontainer_clv: #ffdea7;
  --light__onwarningcontainer_clv: #271900;
  --light__errorcontainer_clv: #ffdad6;
  --light__onerrorcontainer_clv: #410002;
  --light__onsecondarycontainer_clv: #171b2c;
  --light__primarycontainer_clv: #dee1ff;
  --light__onprimarycontainer_clv: #001258;
  --light__onsecondary_clv: #fff;
  --light__secondarycontainer_clv: #dfe1f9;
  --light__tertiary_clv: #76546e;
  --light__ontertiary_clv: #fff;
  --light__tertiarycontainer_clv: #ffd7f2;
  --light__ontertiarycontainer_clv: #2d1228;
  --light__error_clv: #ba1a1a;
  --light__onerror_clv: #fff;
  --light__onbackground_clv: #1b1b1f;
  --light__surface_clv: #fbf8fd;
  --light__surfacevariant_clv: #e3e1ec;
  --light__scrim_clv: #000;
  --light__inversesurface_clv: #303034;
  --light__inverseonsurface_clv: #f3f0f4;
  --light__success_clv: #006d3d;
  --light__onsuccess_clv: #fff;
  --light__warning_clv: #7c5800;
  --light__onwarning_clv: #fff;
  --light__oninfo_clv: #fff;
  --light__primaryfixed_clv: #dee1ff;
  --light__onprimaryfixed_clv: #001258;
  --light__primaryfixeddim_clv: #b9c3ff;
  --light__onprimaryfixedvariant_clv: #2d3f93;
  --light__secondaryfixed_clv: #dfe1f9;
  --light__onsecondaryfixed_clv: #171b2c;
  --light__secondaryfixeddim_clv: #c3c5dd;
  --light__onsecondaryfixedvariant_clv: #434659;
  --light__tertiaryfixed_clv: #ffd7f2;
  --light__ontertiaryfixed_clv: #2d1228;
  --light__tertiaryfixeddim_clv: #e5bad8;
  --light__ontertiaryfixedvariant_clv: #5c3c55;
  --light__surfacedim_clv: #dcd9de;
  --light__surfacebright_clv: #fbf8fd;
  --light__surfacecontainer_clv: #f0edf1;
  --light__surfacecontainerhigh_clv: #eae7ec;
  --light__surfacecontainerhighest_clv: #e4e1e6;



  --dark__onprimary_clv: #11277c;
  --dark__primarycontainer_clv: #2d3f93;
  --dark__onprimarycontainer_clv: #dee1ff;
  --dark__secondary_clv: #c3c5dd;
  --dark__onsecondary_clv: #2c2f42;
  --dark__secondarycontainer_clv: #434659;
  --dark__onsecondarycontainer_clv: #dfe1f9;
  --dark__tertiary_clv: #e5bad8;
  --dark__ontertiary_clv: #44263e;
  --dark__tertiarycontainer_clv: #5c3c55;
  --dark__ontertiarycontainer_clv: #ffd7f2;
  --dark__onerror_clv: #690005;
  --dark__errorcontainer_clv: #93000a;
  --dark__onerrorcontainer_clv: #ffb4ab;
  --dark__background_clv: #1b1b1f;
  --dark__onbackground_clv: #e4e1e6;
  --dark__surface_clv: #131316;
  --dark__onsurface_clv: #e4e1e6;
  --dark__onsurfacevariant_clv: #c6c5d0;
  --dark__surfacevariant_clv: #45464f;
  --dark__shadow_clv: #000;
  --dark__inversesurface_clv: #e4e1e6;
  --dark__scrim_clv: #000;
  --dark__inverseonsurface_clv: #303034;
  --dark__inverseprimary_clv: #4658ac;
  --dark__success_clv: #76db9a;
  --dark__onsuccess_clv: #00391d;
  --dark__successcontainer_clv: #00522c;
  --dark__onsuccesscontainer_clv: #92f8b4;
  --dark__warning_clv: #f7bd48;
  --dark__onwarning_clv: #412d00;
  --dark__warningcontainer_clv: #5e4200;
  --dark__onwarningcontainer_clv: #ffdea7;
  --dark__info_clv: #b1c5ff;
  --dark__oninfo_clv: #002c71;
  --dark__infocontainer_clv: #00419e;
  --dark__oninfocontainer_clv: #dae2ff;
  --dark__primaryfixed_clv: #dee1ff;
  --dark__onprimaryfixed_clv: #001258;
  --dark__primaryfixeddim_clv: #b9c3ff;
  --dark__onprimaryfixedvariant_clv: #2d3f93;
  --dark__secondaryfixed_clv: #dfe1f9;
  --dark__secondaryfixeddim_clv: #c3c5dd;
  --dark__onsecondaryfixed_clv: #171b2c;
  --dark__onsecondaryfixedvariant_clv: #434659;
  --dark__tertiaryfixed_clv: #ffd7f2;
  --dark__ontertiaryfixed_clv: #2d1228;
  --dark__tertiaryfixeddim_clv: #e5bad8;
  --dark__ontertiaryfixedvariant_clv: #5c3c55;
  --dark__surfacedim_clv: #131316;
  --dark__surfacebright_clv: #39393c;
  --dark__surfacecontainerlowest_clv: #0e0e11;
  --dark__surfacecontainer_clv: #1f1f23;
  --dark__surfacecontainerhigh_clv: #2a2a2d;
  --dark__surfacecontainerhighest_clv: #353438;
  --dark__surfacecontainerlow_clv: #1b1b1f;
  --dark__outlinevariant_clv: #45464f;



  --size--m: 1em;
  --size--s: calc(var(--size--m)/1.618);
  --size--xs: calc(var(--size--s)/1.618);
  --size--xxs: calc(var(--size--xs)/1.618);
  --size--l: calc(var(--size--m) * 1.618);
  --size--xl: calc(var(--size--l) * 1.618);
  --size--xxl: calc(var(--size--xl) * 1.618);


  --white: white;
  --black: black;



}